[2013-12-22 02:20] hozn opened #1 "Update readme for current basic usage."
Current README.md is referencing old v1/v2 API examples.

[2013-12-22 02:34] hozn opened #2 "Add support for activity kudos"
http://strava.github.io/api/v3/kudos/

[2013-12-22 02:35] hozn opened #3 "Add support for photos (Instagram)"
http://strava.github.io/api/v3/photos/

[2013-12-27 14:44] #1 closed, assigned to hozn

[2013-12-29 02:43] hozn opened #4 "Add support for updating athlete"
http://strava.github.io/api/v3/athlete/#update

[2013-12-29 02:43] hozn opened #5 "Add support for friends and followers model attribs"
Client.get_athlete_friends() and Client.get_athlete_followers() methods are there, just need to wire into model.

[2014-03-16 14:52] hozn opened #6 "The _resolve_url method assumes *nix system"
As reported by Greg on strava google group:

This didn't work at all for me, but I figured out what was wrong. On line 112 in protocl.py: os.path.join(self.api_base, url.strip('/'))
On windows this inserts a '\' instead of the intended '/', which causes the following error for any request.
requests.exceptions.HTTPError: 404 Client Error: Not Found [None]

I changed _resolve_url to:

[code]

[2014-03-16 22:34] #6 closed, assigned to nobody

[2014-04-10 15:01] JulianJoseph opened #7 "Get Activities for a Date Range"
Would it be possible to enable passing of Before and After parameters to the get_activities() method?

[2014-04-20 18:10] sredmond opened #8 "Help?"
I'm really interested in building the best Strava Python library possible, so I'd love to contribute. However, is there anything in particular you want help with? I didn't see a to-do list in the README, so let me know if there is anything valuable I can work on.

Cheers!

[2014-04-29 22:47] hrubyg opened #9 "get_athlete() attributes"
just to be clear, i'm not complaining.  great work on this library.

the undocumented attributes for the object Athlete, dateofbirth, weight, and max_heartrate return None values.

[2014-04-29 22:48] hrubyg opened #10 "attributes for the object activity"
the attribute calories returns a None value.

[2014-05-19 05:01] devlance opened #12 "How to use get_activities()?"
This might be trivial, but I have not been able to figure out how to use `Client.get_activities()` and pass the result to my Flask template.

I have a client connected successfully and can get athlete info. I am trying:

In my main.py:

[code]

In my "profile.html" Flask template:

[code]

Result is `<ul></ul>`. I can do a for loop on the activities in the main.py file, but not in the Flask templa

[2014-05-19 05:33] #12 closed, assigned to nobody

[2014-05-25 16:33] devlance opened #16 "Add support for retrieving Activity Streams data"
To get detailed data points about an activity, we must use the streams endpoint and pass the types of data that we're interested in.  http://strava.github.io/api/v3/streams/

I looked at taking a stab at creating the model and method. I wasn't sure how the data field, which is a simple array of datapoints, would be represented as in an ActivityStream model object. Happy to take a stab at this addi

[2014-07-06 23:18] ghisprince opened #19 "comments, kudos, zones, photos only return values the first time called"
i followed existing pattern from 'comments' implementation when dev'ing kudos & photos. I noticed bug in existing pattern that causes it to only return list on the first call.

bug

[code]

also likely present with activity.zones

the code below in BatchedResultsIterator._fill_buffer()

[code]

https://github.com/hozn/stravalib/blob/master/stravalib/client.py#L795#L796

fix could be fairly trivial

[2014-07-08 15:55] greenpasta opened #20 "List of activity laps"
Per our email discussion a couple weeks ago, I'd like to see this implemented:

http://strava.github.io/api/v3/activities/#laps

[2014-07-08 16:24] greenpasta opened #21 "get_activities oldest to newest"
In addition to limiting the number of returned results, could there be a flag to return the results from oldest to newest?

[2014-07-08 20:05] #21 closed, assigned to nobody

[2014-07-10 01:45] #7 closed, assigned to nobody

[2014-07-11 06:29] #2 closed, assigned to hozn

[2014-07-11 06:29] #3 closed, assigned to hozn

[2014-07-11 06:29] #5 closed, assigned to hozn

[2014-07-13 05:23] ghisprince opened #23 "stravalib needs a license"
https://help.github.com/articles/open-source-licensing

[2014-07-13 17:58] #23 closed, assigned to hozn

[2014-07-13 18:57] #10 closed, assigned to nobody

[2014-07-13 18:57] #20 closed, assigned to nobody

[2014-07-13 18:57] #8 closed, assigned to nobody

[2014-07-13 18:59] #9 closed, assigned to nobody

[2014-07-13 19:09] #19 closed, assigned to nobody

[2014-07-14 18:24] ghisprince opened #24 "activity.laps issue"
noticed this on last commit. You meant to say <b><i>laps</i></b> throughout, but says <b><i>friends</i></b>, and overrides the <b><i>_friends</i></b> member.

https://github.com/hozn/stravalib/blob/master/stravalib/model.py#L611-622

[2014-07-14 18:44] #24 closed, assigned to nobody

[2014-07-22 17:30] greenpasta opened #25 "Elevation Calculating"
Does any of the data collected from get_activity indicate if the calculation of elevation has completed yet?  When I first upload an activity and look at it, the elevation has a (?) beside it indicating that it is still calculating against known elevation data.  The data it shows at this time is from my watch, which is very inaccurate.  Once the calculation has completed the (?) is gone and the pr

[2014-08-07 15:09] greenpasta opened #26 "get_activity_laps 'No such attribute' errors"
When I use get_activity_laps (in latest github version) I get the following error thrown for each lap:

**No such attribute activity on entity <ActivityLap id=None name=None resource_state=None>**

It happens with code as simple as this:

[code]

This is similar to the errors that occured in get_activities in the released version of stravalib - those errors are no longer present in the latest gith

[2014-08-07 15:22] #26 closed, assigned to nobody

[2014-08-12 00:38] greenpasta opened #27 "More errors thrown on get_activity"
I'm seeing the following from get_activity in the latest github version of stravalib.

**Unable to set attribute average_heartrate on entity <Split >
Unable to set attribute end_index on entity <BestEffort id=None name=None resource_state=None>
Unable to set attribute start_index on entity <BestEffort id=None name=None resource_state=None>**

[2014-08-12 14:21] #27 closed, assigned to nobody

[2014-09-10 05:22] williaster opened #29 "unicode errors"
When I try to print, for example a list of friend names, and one contains a non-ascii character, it throws a "UnicodeEncodeError" error during coercion because of the "Attribute(unicode, (SUMMARY,DETAILED)) " line in the Athlete class. I imagine this happens in other situations. Given the class structure for the library I'm not sure of a good solution, do you have any ideas?

[2014-09-15 02:47] #16 closed, assigned to ghisprince

[2014-09-29 14:32] greenpasta opened #30 "List athlete K/QOMs/CRs"
Can stravalib get this one?

http://strava.github.io/api/v3/athlete/#koms

List athlete K/QOMs/CRs

[2014-10-02 02:26] #30 closed, assigned to nobody

[2014-10-02 02:32] #29 closed, assigned to nobody

[2014-12-23 02:40] b-jazz opened #34 "pr_distance appears to have been deprecated, but still in unittests"
I'm a bit new to the API, so I wanted to get feedback before making any changes around this. It appears that pr_distance is no longer returned when fetching an activity. I don't even see it mentioned in model.py. However, it looks like it is still included in test_model.py along with some of the json test files. Since it isn't in model.py with a meter units hint, it fails the unittest.

[2014-12-27 19:07] b-jazz opened #37 "timedelta vs units.unit('s')"
Shouldn't the elapsed times and moving times be expressed with the `units.unit('s')` data type instead of as a `datetime.timedelta` to make calculating things like mph simpler? I'm guessing it is to late to change the library, right? What would be the best way to augment stravalib to support something like this?

[2015-01-02 19:13] greenpasta opened #41 "get_activities giving errors"
When I use get_activities (in latest github version) I get errors such as the following:

Unable to set attribute achievements on entity \<SegmentEffort id=5525265906 name='Longfellow Loop - No cul-de-sac' resource_state=2>
No such attribute similar_activities on entity \<Activity id=None name='Easy with H+P in Old Beechwood' resource_state=3>

Despite these errors, it otherwise works fine.

[2015-01-03 00:01] hozn commented on #41
I noticed that too, will push a fix.

On Fri, Jan 2, 2015, 14:13 greenpasta <notifications@github.com> wrote:

[2015-01-03 02:14] hozn commented on #41
The similar_activities issue fixed in f15c963

[2015-01-04 03:38] hozn opened #42 "Add missing instagram_primary_photo attribute for activities"
Apparently another undocumented attribute being returned by the API.  I'm assuming this is "detailed" resource_state only.

[2015-01-04 03:40] #42 closed

[2015-01-05 10:51] hozn commented on #41
Looks like the achievements is a new Strava structure (undocumented) that
is related to the new "current year" trophies. I need to sign up a few more
examples. Also, I will probably suppress those warnings (lower to emit only
in debug mode or something), as it is clear that Strava is always going to
be pushing undocumented features into the API.

On Fri, Jan 2, 2015, 19:01 Hans Lellelid <hans@velu

[2015-01-05 14:21] greenpasta commented on #41
I'm happy to keep letting you know about these types of errors as I encounter them if you want.

[2015-01-05 14:25] hozn commented on #41
Absolutely.  Now that I'm actively using stravalib again (I pick up
development in the winter for the freezingsaddles.com project), I do see
many of these myself and try to fix them, but very happy when people report
issues.  I hope to have the achievements error fixed in the next day or two.

On Mon Jan 05 2015 at 9:21:35 AM greenpasta <notifications@github.com>
wrote:

[2015-01-12 02:10] hozn opened #43 "Add support for joining/leaving clubs."
The API supports this (now), so might be nice to implement it.

http://strava.github.io/api/v3/clubs/#join

[2015-01-12 02:45] #43 closed

[2015-01-16 01:46] hozn opened #44 "Respect time zones on datetime objects when converting to UTC"
We have an assumption that naive timestamps are in UTC.  That is fine, but when a time zone *is* present on a datetime object, we should convert that to UTC and not just discard the time zone information.

[2015-01-16 02:00] #44 closed

[2015-01-20 20:49] greenpasta commented on #41
I still get this one:

No such attribute similar_activities

[2015-01-20 20:50] hozn commented on #41
Hmmmm ... this is using latest from git (or 0.4.0 release)?

[2015-01-20 20:51] greenpasta commented on #41
Should be the latest:

stravalib==0.4.1dev

[2015-01-20 20:56] hozn commented on #41
Yeah, looks right. Ok, I will dig into this

On Tue, Jan 20, 2015, 15:51 greenpasta <notifications@github.com> wrote:

[2015-02-04 18:24] hozn opened #45 "New photos attribute conflicts with library"
Looks like Strava just changed their api to pass up photos as a dictionary.  This will conflict with our photos read accessor in current form.

[code]

[2015-02-04 19:43] hozn commented on #45
Ok, this is good to go.

[2015-02-04 19:43] #45 closed

[2015-02-05 19:15] greenpasta opened #46 "get_activity returns None for segment_efforts"
It seems like get_activity always returns None for segment_efforts, even if there are some. I see this in at least get_activity, and get_friend_activities. Not sure if it is an issue with stravalib, or if the API isn't giving it.

segment_efforts:	array of objects
array of summary representations of the segment efforts, segment effort ids must be represented as 64-bit datatypes

[2015-02-16 11:56] maartenmennes opened #47 "get_activities results in AssertionError"
upgrading from 0.3.0 to 0.4.0 broke get_activities. See the example below:

![image](https://cloud.githubusercontent.com/assets/1139180/6211517/1e5b2ef4-b5db-11e4-9e0d-8fe7c54a0558.png)

[2015-02-16 19:12] hozn commented on #47
Ah, sorry; somehow I didn't encounter that issue.  Will fix asap.

[2015-02-16 19:23] hozn commented on #47
Oh, wait; I didn't realize what you are doing. Yeah "after" should be a `datetime.datetime` value, not a `datetime.date` object.  This is because the value must be coerced to UTC and I don't believe `datetime.date` objects aren't tz-aware.

[2015-02-16 21:23] maartenmennes commented on #47
ah great, that fixed it in 0.4.0. many thanks for the quick response!

[2015-02-16 21:23] #47 closed

[2015-03-27 11:06] marctc commented on #41
@hozn can you release a new version with these fixes?

[2015-03-27 12:39] hozn commented on #41
Yeah, I can do that :)  -- Can you confirm that current master branch is
working ok?

On Fri, Mar 27, 2015 at 7:06 AM Marc <notifications@github.com> wrote:

[2015-03-27 15:46] marctc commented on #41
I only tested get_activity, get_activity_stream and get_activities and it worked properly for  +100 different activities. The only thing that I saw was these warnings:

WARNING stravalib.model.ActivityLap-43 No such attribute device_watts on entity
WARNING stravalib.attributes.EntityCollection-223 Unable to set attribute device_watts on entity <SegmentEffort id=None name=None resource_state=2>

[2015-03-27 17:20] hozn commented on #41
Ok, great.  Yeah, strava is constantly tweaking their responses (I guess
this is just a case of missing attribute).  I will get a new version
packaged up.

On Fri, Mar 27, 2015 at 11:46 AM Marc <notifications@github.com> wrote:

[2015-03-27 17:31] hozn commented on #41
I rather quickly pushed up an 0.5.0; that *should* work.  I need to update
the published docs yet.  Probably need to do that this weekend.

On Fri, Mar 27, 2015 at 1:20 PM Hans Lellelid <hans@velum.net> wrote:

[2015-03-27 17:31] hozn commented on #41
This should be good; re-open if needed.

[2015-03-27 17:31] #41 closed

[2015-03-30 07:08] marctc commented on #41
Thanks man!

[2015-04-24 08:03] maartenmennes opened #49 "get_activities only returns small set of activities"
Hello,

For some reason a get_activities call only returns a fraction of my activities. I have about 500 activities in my account, stravalib is only returning 52 for the moment.

I say 'for some reason' as all was working fine 1-2 weeks ago. Updating to the latest stravalib (0.5.0) did not solve the problem.

Looking at the dates/numbers of the returned activities there seems to be no clear patter

[2015-04-24 12:10] hozn commented on #49
Does it help to specify a (larger) limit value in your call to get_activities()?  In theory this should be abstracted using the paged results iterator, but perhaps something about API recently changed.  Maybe provide a small code sample of how you are currently retrieving the activities.

[2015-04-24 13:14] maartenmennes commented on #49
Thanks for your reply! Below is an example of my get_activities() call.

![image](https://cloud.githubusercontent.com/assets/1139180/7319233/3dff880c-ea94-11e4-8e3e-3dc4f350c0b3.png)

As you can see, the initial call returns 52 items. Yet there should be 516. Restricting it by date seems to work, as it returns less data, a subset of the 52. This suggests that the problem is in the initial grabbing

[2015-04-24 13:17] hozn commented on #49
Very detailed -- perfect.  I will take a look and try to reproduce myself.
It's hard to imagine that this is a new bug in stravalib, since that part
of the code hasn't changed recently to my recollection.  There must be
something that has changed in API or perhaps a bug in API (that wouldn't
surprise me either).  I will let you know what I find; thanks again.

On Fri, Apr 24, 2015 at 9:14 AM Maart

[2015-04-24 13:24] maartenmennes commented on #49
Great, thanks for looking into this. Just wanted to add verification that the subset is actually a subset of the activities that are also returned on the initial call.

![image](https://cloud.githubusercontent.com/assets/1139180/7319457/fd8828fe-ea95-11e4-99db-3f58d16193e8.png)

[2015-05-08 08:01] maartenmennes commented on #49
Hello,

as I follow-up I just figured out it is returning only my public activities. That might narrow the search down to perhaps an authentication issue?

[2015-05-08 09:21] maartenmennes commented on #49
Fixed it! I revoked access to my app, then asked for a new access_token (different from the one I already had), and things started working again. Is there an expiration date on those tokens?

[2015-05-08 09:21] #49 closed

[2015-05-08 11:49] hozn commented on #49
Thanks for running it to ground.  I had this pinned in my inbox, but just
hadn't sat down to investigate.  I'm glad it works for you now.  (I wasn't
aware that the auth tokens expired, but good to know!)

On Fri, May 8, 2015 at 5:21 AM Maarten Mennes <notifications@github.com>
wrote:

[2015-05-29 16:55] greenpasta opened #50 "client.expore_segments gives no such attribute error"
No such attribute starred on entity \<SegmentExplorerResult id=123456 name='Segment Name' resource_state=2>

[2015-06-01 17:01] greenpasta commented on #50
And client.get_segment_leaderboard giving these:

Unable to set attribute neighborhood_index on entity \<SegmentLeaderboardEntry rank=None athlete_name=None>
No such attribute kom_type on entity \<SegmentLeaderboard >
No such attribute neighborhood_count on entity \<SegmentLeaderboard >

[2015-06-06 00:49] #34 closed

[2015-06-06 00:49] #46 closed

[2015-06-08 22:23] #4 closed

[2015-09-14 16:46] felixhfly commented on #50
Greenpasta,
Did you get a resolution to this? I have a similar issue with many calls including
  client.get_segment(segment_id = 6695759)
which results:
  No such attribute athlete_segment_stats on entity <Segment id=None name=None resource_state=None>
This makes calls very noisy especially if the call gets a lot of different results. Otherwise the calls do seem to be recovering the required infor

[2015-09-14 16:49] hozn commented on #50
Sorry, this fell off my radar;  the fix should be a pretty quick one so I will try to get it wrapped up shortly (unless anyone beats me to it with a PR).

[2015-09-15 12:20] felixhfly commented on #50
Thanks Honz. If you want to let me have an early version or anything I'm happy to test.  I'm currently working with get_segement and get_segement_efforts methods and both give similar results.

[2015-09-20 00:00] alecmce opened #58 "Developing with GAE"
When I try to use this library with Google App Engine via dev_appserver.py, I get the following error, after the https://www.strava.com/api/v3/athlete call. Is there a particular reason you're using a socket here? Do you have any ideas for a workaround?

Thanks in advance.

  File ".../lib/requests/adapters.py", line 370, in send
    timeout=timeout
  File ".../lib/requests/packages/urllib3/connec

[2015-09-30 22:34] hozn commented on #50
get_segment specifically has been fixed, but I will continue to look into the others. I'm trying to rework the functional test framework a bit -- or at least provide scripts to make it easier for people to get tokens and test.  Unfortunately many of our tests are only accessible to the authorized user, so I think we'll be distributing tokens for the Stravalib Tester user to developers so they can

[2015-09-30 22:36] hozn commented on #50
Mistagged the commit, sadly.  It was ad7a578.

[2015-10-01 18:00] bhontz opened #59 "Friends segment events"
I can use the get_activities method to return an array of my activities, though each one seems to have a None segment_efforts attribute.  However, calling method get_activity for each array member using the activity attribute id will expose my segment_efforts within each activity.

This same process does not seem to work for get_friends_activities; when I call get_activity for each of the activiti

[2015-10-01 19:39] hozn commented on #59
It looks like you cannot retrieve segment efforts for your friends.  Specifically, from the [documentation](https://strava.github.io/api/v3/activities/):  (Note that "Detailed" representation is what you can see about your own data, vs. "summary" which is what you can see about other's data.)

[code]

I will look at the segment_efforts being `None` on actitivies; it is likely that this is only ava

[2015-10-01 21:13] bhontz commented on #59
Appreciate the quick and thoughtful reply, I too noted the reference to the
Activity segment_efforts attribute removed from summary listings after I'd
posted this question.  Seems odd (which you seem to concur with) as the web
/ mobile apps both readily support viewing your follower's activities and
segment efforts.

Appreciate any update you can provide.

*Brad Hontz*

*mTAB Evangelist Emeritus*

[2015-10-07 20:33] greenpasta opened #60 "Rate limit exceeded"
How does the rate limiting work in stravalib? A quick glance through the code makes me think it's on by default. I have a cron job that ran this morning at 3:15am and 6:15am and got the following error at 3:29am and 6:29am.

    requests.exceptions.HTTPError: 403 Client Error: Forbidden [Rate Limit Exceeded: [{'resource': 'Application', 'code': 'exceeded', 'field': 'rate limit'}]]

Both times it l

[2015-10-08 12:52] hozn commented on #60
It is possible the rules have changed; however, I believe this is *not* implemented by default (a quick glance at code suggests this is true).  You can pass in a rate limiter callable when you instantiate the Client class:

[code]

Let me know if that fixes things for you.

[2015-10-11 01:31] pbehrisch opened #61 "athlete.all_ride_totals is empty"
I tried the following code on python 2.7.10

[code]

Is that a bug or do I need to import another library here?

[2015-10-11 01:46] hozn commented on #61
I suspect this might be an API change only reflected in master, but the all_ride_totals is actually part of the AthleteStats object now.

[code]

I intend to release an update that addresses this (and other) API changes, but you could clone master in near term.

[2015-10-11 02:09] pbehrisch commented on #61
Thanks, that works. Do you know how to get unithelper to do the kilometer conversion so that the output is:  831.8 km?

	831814.00 m

	831.814

	831.00 km

[2015-10-13 13:32] hozn commented on #61
This is odd; I do not know off-hand why it's truncating the values.  I will look into this.

[2015-11-19 18:53] felixhfly commented on #50
I have tried pulling this commit, but have not got it to work at all.  (I'm using Python 3 via 2to3 which may make a difference.)
This issue is client.get_segment(segment_id = xxx) now gives a ValueError on a date time format.

If anyone else has the original logging issue, my workaround has been to revert to the PIP install version 0.5, and change
   self.log.warn("No such attribute {0} on entity

[2015-11-19 19:15] hozn commented on #50
Thanks for the feedback; I'm sorry this isn't working.  It is true I have
been using python2, so I will test this change in python3.

On Thu, Nov 19, 2015 at 1:53 PM felixhfly <notifications@github.com> wrote:

[2016-01-05 08:33] maartenmennes opened #64 "lots of warnings"
Hello,

How would I avoid these warnings?

![image](https://cloud.githubusercontent.com/assets/1139180/12110701/50668c2e-b38f-11e5-8e6d-2fcd6369bcc4.png)

Thanks,
Maarten

[2016-01-05 13:20] hozn commented on #64
I fixed this in master the other day. I'll roll a new 0.5.1 release soon.

On Tue, Jan 5, 2016 at 3:33 AM Maarten Mennes <notifications@github.com>
wrote:

[2016-01-05 13:50] maartenmennes commented on #64
excellent! Just reinstalled from the github version and all those warnings have disappeared. Thank you so much!

[2016-01-05 13:50] #64 closed

[2016-01-06 15:36] rosscado opened #65 "Python 2.6 not supported"
readme.md states the project's dependencies as "Python 2.6+" but importing stravalib in Python 2.6 gives an error.

    from stravalib.client import Client
    File "/usr/lib/python2.6/site-packages/stravalib/client.py", line 1071
    return {i.type: i for i in streams}
                        ^
    SyntaxError: invalid syntax

The following statement in client.py uses syntax new to Python 2.7:

[2016-01-06 16:27] hozn commented on #65
Yeah, we will probability just drop 2.6 support at this point. Thanks for
noting!

On Wed, Jan 6, 2016, 10:37 rosscado <notifications@github.com> wrote:

[2016-01-31 13:56] hozn opened #66 "Raise better exception subclasses on fault responses"
The obvious candidate here is the 401 Unauthorized errors, but there may be other error-messages we can parse out (of errors array in JSON response).

[2016-02-20 16:11] paulsavala commented on #50
Just wanted to add to this that I'm getting neighborhood_index problems when trying to grab segment leaderboard entries. I'm using version 0.5.1 (and had the same issue with 0.5.0).

[2016-02-21 01:43] hozn commented on #50
Thanks. I will check on this. I haven't used this part of the Ali recently.

On Sat, Feb 20, 2016, 11:11 paulsavala <notifications@github.com> wrote:

[2016-02-29 11:14] davew opened #68 "Many Warnings generated"
Hi,

I've installed using pip (seems I have version 0.5.0)

I get a heck of a lot of warnings generated and am wondering why eg

WARNING:stravalib.model.Athlete:No such attribute athlete_type on entity <Athlete id=8209 firstname=Dave lastname=Warnock>

WARNING:stravalib.model.Activity:No such attribute elev_low on entity <Activity id=None name=None resource_state=None>
WARNING:stravalib.model.Acti

[2016-02-29 12:44] hozn commented on #68
Yes, this is due to Strava API changes.  I've been remiss in pushing out a
new version, but these should all be fixed in the latest (master) branch.
I'll push out a new release when I have a minute to type up some release
notes.

On Mon, Feb 29, 2016 at 6:14 AM Dave Warnock <notifications@github.com>
wrote:

[2016-02-29 19:56] davew commented on #68
Thanks Hans.

I'll switch to the master branch.

[2016-02-29 20:05] #68 closed

[2016-02-29 23:45] davew opened #69 "Python 3"
What is the current status of the master branch regarding Python 3?

Thanks

[2016-03-01 14:14] hozn commented on #69
I've heard of people using it (I believe the setup.py still has 2to3=True), but I've only worked with it in python 2.  As I mentioned in #70, I'd like to use [six](https://pypi.python.org/pypi/six/) to build code that works in both 2 and 3.

[2016-03-18 11:33] keorn opened #71 "explore_segments bounds input broken"
`Client.explore_segments` taking bounds as two tuples is broken, as it tries to index `[1][2]` instead of `[1][1]`

[2016-03-18 12:19] hozn commented on #71
Thanks -- this sounds like a quick fix.

[2016-06-22 15:11] manosucias opened #73 "max_watts attribute not listed in Activities"
When activities are retrieved the attribute max_watts is not included.

 dir(activity)
['ALPINESKI', 'BACKCOUNTRYSKI', 'CANOEING', 'CROSSCOUNTRYSKIING', 'CROSSFIT', 'ELLIPTICAL', 'HIKE', 'ICESKATE', 'INLINESKATE', 'KAYAKING', 'KITESURF', 'NORDICSKI', 'RIDE', 'ROCKCLIMBING', 'ROLLERSKI', 'ROWING', 'RUN', 'SNOWBOARD', 'SNOWSHOE', 'STAIRSTEPPER', 'STANDUPPADDLING', 'SURFING', 'SWIM', 'TYPES', 'WALK',

[2016-06-22 18:40] manosucias commented on #73
I checked the starve docs and max_watts is only shown in Activities with real watts. I close the issue, sorry.

[2016-06-22 18:40] #73 closed

[2016-07-07 11:54] bjorntheart opened #75 "Caching Results"
I'm wondering what the best way is to cache results.

So far I'm thinking of saving JSON for, let's say, activities returned from the API itself to a database, and then loading that into a calendar view or something. It would greatly reduce the number of API calls made every time I page through a calendar filled with activities for example. This method would require me to pull the JSON off of a mo

[2016-07-07 12:08] bjorntheart opened #76 "Getting Split data"
The `split_metric` and `split_standard` collections on my activity returns `None`. I don't know if I understand the splits entirely, but I think it represents the Splits in Strava next to the map. In which case, for this specific workout activity, I should have split results as a collection on the Activity model, but I get `None`
<img width="243" alt="screen shot 2016-07-07 at 14 06 08" src="https

[2016-07-07 12:15] bjorntheart commented on #75
I just thought about this more and I don't think I need to model's complete JSON representation stored in my DB flavor of choice. I can cache what I need to show in the calendar interface and build something like the Calender week views from the stored cache data

[2016-07-07 12:25] #75 closed

[2016-07-10 18:08] hozn commented on #76
Sorry, I haven't had a chance to look at this yet.  As all my usage has been cycling-specific, it wouldn't surprise me if there's just a bug in this feature.  When you make the query do you see debug logs indicating the Strava API URL being hit, etc. ?

[2016-07-10 18:12] hozn commented on #76
Note that those attributes are only expected to be available for the DETAILED view (i.e. when the activity is being fetched on behalf of the authorized user -- not available for activities of auth user's friends / leaderboards, etc.)

[2016-07-11 15:24] bjorntheart commented on #76
@hozn I authenticate as myself with the 'view_private' scope, so I should be able to see the splits, right? I am not sure if I've correctly configured the logging, but I've set the following:

[code]

and don't see any Strava API URL in the shell output logs

I have to functions that just dumps some info:

[code]

[2016-07-11 15:29] hozn commented on #76
Ok -- try:

[code]

I will record a running activity which should have some splits and make sure this shows up as expected.  I see it in the sample activity file that is checked in, but that doesn't mean we have unit tests validating that specific feature (I will add once I get to the bottom of this).

[2016-07-12 15:29] bjorntheart commented on #76
I've enabled debugging and this is what I get:

[code]

I definitely have done activities within the past 14 days. 0 items returned for page 1

[2016-07-14 15:52] loisaidasam opened #77 "Webhook Events Support"
Would be cool to see support for Webhook Events:

http://strava.github.io/api/partner/v3/events/

[2016-07-14 16:05] hozn commented on #77
Sure, pull requests welcome!

[2016-07-14 16:13] loisaidasam commented on #77
Sweet, looking into it now :)

[2016-07-14 16:16] hozn commented on #77
Thank you!

On Thu, Jul 14, 2016 at 12:13 PM Loisaida Sam <notifications@github.com>
wrote:

[2016-07-14 18:47] loisaidasam opened #78 "Better Explanation of Attribute `resource_states`"
Unless I'm missing something, it's a bit vague what these Attribute `resource_states` mean or how they are used:

https://github.com/hozn/stravalib/blob/0f760a163856c2ec4262d3f21407b53456c087a6/stravalib/attributes.py#L17-L19

I think some comments around the variable declarations might go a long way.

[2016-07-14 19:00] hozn commented on #78
True.  They aren't actually being enforced anywhere, so it's more informational.  They match up to the resource states defined by Strava, from https://strava.github.io/api/ :
[code]

[2016-07-16 16:48] #78 closed

[2016-07-16 16:51] #71 closed

[2016-07-16 16:51] hozn commented on #71
(Sorry this trivial fix had dropped off my radar.)

[2016-07-16 17:02] hozn commented on #77
Initial commit merged, thank you!  Still outstanding here:
- Remainder of API
- Tests
- Updated user docs

[2016-07-16 18:39] #65 closed

[2016-07-16 18:39] #69 closed

[2016-07-16 23:28] davew commented on #69
Thanks for this!

[2016-07-17 00:16] hozn commented on #69
Sorry it took so long to get around to it! The real job has been keeping me
too busy.

On Sat, Jul 16, 2016, 19:28 Dave Warnock <notifications@github.com> wrote:

[2016-07-17 02:38] hozn commented on #77
Ok, I think this is done.  @loisaidasam maybe you can test out the list/del endpoint when you get this working on your end.  (My app/API key won't get push notifications.)  Date handling should be much improved now with Arrow so sub update event_time will be handled correctly as date.

[2016-07-17 02:38] #77 closed

[2016-07-17 02:40] #60 closed

[2016-07-17 13:12] loisaidasam commented on #77
Busy weekend! Nice work. Will definitely test out the list/del endpoints for you. Thanks for the urgency with bringing this functionality in, much appreciated 👍

[2016-07-17 14:30] loisaidasam commented on #77
Just tested, and I can confirm that all create, list, and delete functionality do indeed work! 👍

[2016-07-18 01:00] hozn commented on #77
Thank you, sir!

[2016-08-02 21:44] Tafkas opened #81 "Create a tag for version 0.6.0"
In https://github.com/hozn/stravalib/blob/master/setup.py#L9 it says current version is 0.6.0 while the last tag points to version 0.5.0. Also on PyPi the latest version is 0.5.0. Since there were some useful changes made afterwards  (e.g. athlete_type on the Athlete model)  it would be awesome if there was a new release.

[2016-08-08 00:32] hozn commented on #81
Yeah, have been meaning to do this.  It's now tagged and release to pypi.

[2016-08-08 00:32] #81 closed

[2016-08-11 20:13] Tafkas opened #84 "update_athlete() method is not Python 3 compatible"
The update_athlete() method in client.py does not work with Python 3.x as
iteritems() has been removed from Python 3.x.

I submitted a PR #83 for a fix.

[2016-08-14 03:27] nall opened #85 "delete_activity missing?"
I'd like to delete some activities, but I don't see an API for that. Am I missing something or is it not implemented yet?

[2016-08-15 01:58] hozn commented on #85
Indeed! -- Apparently this is missing.  I'll add it in.

https://strava.github.io/api/v3/activities/#delete

In the short-term, you can work around this lack using the protocol method attached to the Client:

[code]

Hope that helps most immediately and thanks for pointing out the oversight.  I guess not many have actually gone to delete activities.

[2016-08-15 02:06] #85 closed

[2016-08-15 02:07] nall commented on #85
Yep that was my exact workaround. Thanks for the quick add!

[2016-08-15 02:07] hozn commented on #85
I also went ahead and added `client.delete_activity()` method in master branch. This is not tested yet (we're still lacking a good functional testing framework unfortunately).

[2016-08-16 07:27] #84 closed

[2016-08-16 13:08] hozn commented on #84
Yup; thanks for help on this.

[2016-08-19 14:15] mpschr opened #88 "Support: Easiest way of getting activities or segments of a 'friend/follower'"
Hi

I am exploring the possibilities of stravalib and the Strava API. what would be the easiest way for obtaining the activities of a certain (user-provided) friend who is followed by me and vice-versa?

Thanks for pointing me into the right direction
Best,
mpschr

[2016-08-19 20:09] hozn commented on #88
Sure, you want to use the `client.get_friend_activities()` method.  https://github.com/hozn/stravalib/blob/master/stravalib/client.py#L481

[2016-08-19 20:09] #88 closed

[2016-08-25 17:17] greenpasta opened #89 "Set access_scope"
Is it possible to set the access scope within stravalib?

For example, I am doing:

client = Client(access_token='MYACCESSTOKEN')
activities = client.get_activities()

I want this to also find private activities, so I think I need to set the scope to 'view_private', but I don't know how/where.

[2016-08-25 20:28] hozn commented on #89
Yeah, you can do this; you need to specify the scope in the authorization URL.  Here's a (Flask) snippet:

[code]

And just for completeness, here is a simplified version of my callback URL handler (aka "view"):

[code]

[2016-08-25 20:28] #89 closed

[2016-08-31 07:51] abadabanades opened #90 "NameError: name 'unicode' is not defined"
After updating from `0.5.0` to `0.6.1` using `Python 3.4`, I get this error:

[code]

I found this in StackOverflow (http://stackoverflow.com/questions/19877306/nameerror-global-name-unicode-is-not-defined-in-python-3), so by simply removing the `unicode` check in line 258 (only checking for `(str, bytes)`) works and all my tests pass (not sure whether this will brake anything, though).

If you th

[2016-08-31 13:48] hozn commented on #90
I can fix this. It should be using six. Not sure how that got through, must
have been an accidental merge from a recent PR.

On Wed, Aug 31, 2016, 00:51 Daniel <notifications@github.com> wrote:

[2016-08-31 14:26] #90 closed

[2016-08-31 14:28] hozn commented on #90
This should be fixed now in just-pushed 0.6.2.  Unit tests pass on python 3 (3.5) and python 2, so I think we're good.  Sorry about that!

[2016-08-31 20:13] sanderroosendaal opened #91 "update_activity doesn't update the description field"
The activity_type came through, but the description wasn't copied. Looking at stravalib source code, in "update_activity", I don't see the part where you actually set the description. Here is the code I am looking at:

# Convert the kwargs into a params dict
        params = dict(activity_id=activity_id)
        if name is not None:
            params['name'] = name
        if activity_type is not

[2016-09-01 07:58] abadabanades commented on #90
Thx! it works now!

[2016-09-02 02:01] #91 closed

[2016-09-02 02:02] hozn commented on #91
Thanks for pointing this out.  Pushed this out in 0.6.3.

[2016-09-03 12:17] #50 closed

[2016-09-21 13:33] greenpasta commented on #89
Thanks for the reply, I've been away for a while.

I'm not using Flask (or any framework), I'm just using Stravalib in a python shell script. I'm not doing any of the "authorization_url" stuff you mentioned. Any chance I could see the authorize.html template so I can try to put these pieces together? I need to see how you are getting the code that you are exchanging for access_token.

[2016-09-21 16:56] hozn commented on #89
Hope I can help -- the authorize.html that I was probably referencing would be this one: https://github.com/hozn/freezingsaddles/blob/master/bafs/templates/authorize.html  -- but the important point is that the user, logged-in to Strava in web browser, has to navigate to a URL that will ask them whether they would like to give the application ability to read data (maybe including private).

If you

[2016-09-21 18:20] greenpasta commented on #89
That helps, I should be able to get it going. Thanks!

[2016-11-18 09:08] intuitionofmind opened #93 "Beginner's issue: code = request.get('code')"
Hi,
I just start to use this lib under the instruction by README.md. I follow all the procedures and try to access my account on Strava. My script is here:
[code]
It tells me that **NameError: name 'request' is not defined**. I have tried to import module 'request' as commented, but it also tells me that **AttributeError: module 'request' has no attribute 'get'**. I have also tried to import modul

[2016-11-18 10:00] jsamoocha commented on #93
Hi,

the example in the README is not meant to be run as a script. Instead the authentication procedure should be (roughly) as follows:

1. Somehow, in some web application, a user should be able to click on a link referring to the url generated by `client.authorization_url()`. Alternatively (as a very premature testing setup), you could type that url in your browser,
2. Strava will now process th

[2016-11-19 00:06] nall opened #94 "photos endpoint is missing an argument"
When invoking `get_activity_photos`, the library should append `photo_sources=true` to the request per [this documentation](https://strava.github.io/api/v3/activity_photos/#list).

Without it I get an empty list. With it, I get the expected photos.

[2016-11-26 22:54] hozn commented on #94
Thanks for pointing this out!

[2016-11-26 22:55] hozn commented on #93
@jsamoocha , thanks for answering this question!

[2016-11-26 22:55] #93 closed

[2016-11-27 01:19] intuitionofmind commented on #93
@jsamoocha Thank you very much. I really appreciate your patient answer.

[2016-12-02 07:14] ollyajoke opened #96 ""laps" attribute was removed from Activity"
When trying to access an activity I got an error like:
Could not find attribute `laps` on entity <Activity id=... > (Original: AttributeError("can't set attribute",))

Simply commenting out the `laps` attribute (https://gist.github.com/ollyajoke/13d8656a380d70d846fc8fffff9a40fc) fixed the issue for me for now.

[2016-12-02 16:52] GroveJay commented on #96
I dealt with this last night. The base activity api call now returns the lap information as a list. When deserializing and setting the Activity attributes, the exception is thrown as "Activity.laps" already exists (what you commented out). The existing property is written to use the [laps api](https://strava.github.io/api/v3/activities/#laps).

In summary:
- Strava is adding ([undocumented!](https

[2016-12-02 19:30] woodmicha commented on #96
I encountered the same problem and was assuming something on my end was goofed.  Is it correct to say the problem is the Strava REST web app just started returning laps for Activities or did the client bindings change?  Reason I ask is I was upgrading my libraries when I encountered the issue.

[2016-12-03 06:32] ebrensi commented on #96
This happens with `Client.get_activity()` but not with `Client.get_activities()`.

[2016-12-03 20:10] GroveJay commented on #96
@woodmicha Correct, I don't believe this is because of anything updated with stravalib. The last commit for stravalib was on [10/26](https://github.com/hozn/stravalib/commit/c763a39bcd94306c3b385bb128741699f60cb912) from pr #95.

[2016-12-03 21:10] GroveJay commented on #96
@ebrensi that's a good data point. The data being returned in the [/athlete/activities](https://github.com/hozn/stravalib/blob/master/stravalib/client.py#L187) api call is different than the [/activities/{id}](https://github.com/hozn/stravalib/blob/master/stravalib/client.py#L477) call (/athlete/activities has 13 less properties), and does not have the 'laps' data.

For completeness:
The additiona

[2016-12-04 01:46] hozn commented on #96
Interesting ... I guess we need to support the new laps data and rename the current laps api call.  There is some precedent for this happening with photos API too.  It is an API breaking change, so I will bump at least the minor version (should probably adopt semantic versioning here) and make it explicit in changelog.

[2016-12-04 02:13] hozn commented on #96
So, after a bit more investigation, it would appear that the laps data returned with the activity detail is the same as the array.  So I'm just going to make the laps property settable; that seems to do the trick.

[2016-12-04 02:32] hozn commented on #76
Ok, the good news is that I can't reproduce any problems here; splits are working well for me. So either this has been fixed by strava or by side effect of other fixes here.

[2016-12-04 02:32] #76 closed

[2016-12-04 02:32] #94 closed

[2016-12-04 02:32] #96 closed

[2016-12-04 02:39] hozn commented on #96
FYI -- pushed this out in 0.6.4.  Let me know if any issues discovered.

[2016-12-04 02:50] ebrensi commented on #96
Thanks!

[2016-12-10 21:32] hozn opened #98 "ActivityPhoto is outdated and does not support native photos"
After enabling fetching of Instagram and "native" (Strava) photos (see #94) , the ActivityPhoto model is not handling the new results correctly.

The best solution for backwards compatibility is probably to only fetch Instagram photos by default unless photo_sources is set to True explicitly.  (We can log a warning in the interim to indicate a deprecated behavior.)

[2016-12-10 21:46] #98 closed

[2016-12-10 21:59] hozn commented on #94
@nall , just a heads up that in 0.6.5 I changed the get_activity_photos behavior to behave like it used to (only returning Instagram);  you can pass only_instagram=False to get both.  (I also needed to fix  `ActivityPhoto` to handle the native photos, and I figured this was too much a breaking change to suprise users in a point release.)

There is also a new `size` param, which is probably useful

[2016-12-13 02:34] nall commented on #94
Thanks for the heads up!

[2017-01-13 15:18] rotti opened #100 "no calories from "get_activities""
Hi Hans,

like posted on https://groups.google.com/forum/#!topic/strava-api/XVs-clWvK7c
there seems to be a bug in 'get_activities'. You dont get "calories" for your activity.
Within 'get.activity' everything works.

Used version ist 0.6.6

Here is some example code for proving:

[code]

[code]

Thanks for your lib once again. Regards

Sebastian

[2017-01-14 12:09] rotti commented on #100
also "activity.athlete.lastname" (and some more like firstname; didnt test all though) returns "None", when iterating through "get_activities()" or calling "get_activity()". but "activity.athlete.id" works. not sure if that should work, since there is a "get_athlete()"

[code]

Greets
Sebastian

[2017-03-20 18:48] arkarkark opened #102 "support to get/set segment_leaderboard_opt_out on activities"
Similar to https://github.com/strava/go.strava/issues/16
If/when the API supports it I don't mind making a PR for this library.

It doesn't look like the api supports getting/setting the new `segment_leaderboard_opt_out` attribute on [activities](https://strava.github.io/api/v3/activities/). Do you know if/when support for that will be added?

I found the name by looking at what the front end does

[2017-03-22 16:59] hozn commented on #102
Good question! - Yeah, typically the API supports it when they decide they want to implement it in their mobile apps.   I don't know if they really have a roadmap for improvements to their API.  I know the changes often catch us by surprise, though maybe I'm just not subscribed to the right mailing list to get notified of those :)

[2017-03-22 19:41] arkarkark commented on #102
Thanks, the mobile app seems to support it (at least iOS does) I haven't gone as far as trying to sniff the network traffic to work out what's going on...

[2017-04-04 17:27] mauradaffern opened #103 "get photos from club activity"
Hello,

I am attempting to iterate through the activities I have obtained from a club.  How can I get the photo associated with an activity?  I'm having problems figuring it out.

Thank you!

[2017-05-18 06:51] JohnnyLChang commented on #100
Hi Sebastian,

According to official Strava API document,

Summary representation attributes  
The summary representation of the activity object is the same as the detailed representation, except it does **NOT** include these attributes:
    calories
    description
    gear
    segment_efforts
    splits_metric
    splits_standard
    laps
    best_efforts
    device_name
    embed_token
    phot

[2017-05-18 07:39] JohnnyLChang commented on #100
I guess the athlete name is also not included in the protocol.

[2017-06-05 21:23] sladkovm opened #107 "Making use of exception classes"
Hi,

how do I make use of the exception classes? Should I assume that, if limit is exceeded, all *ConnectionError* and *ConnectionResetError* will be caught by the lib and the *stravalib.exc.RateLimitExceeded* will be raised?

I'm trying to `except(stravalib.exc.RateLimitExceeded)` to trigger waiting time, but it does not help.

[2017-06-06 16:16] hozn commented on #107
You can see the implementation of the default rate limiter here:  https://github.com/hozn/stravalib/blob/master/stravalib/util/limiter.py

In general, the use of a limiter is designed to avoid ever having the rate limit exceeded (it will attempt to sleep, etc.).  You may wish to make your own rate limiter implementation too and use that in your client.  (Hopefully comments for classes above are cl

[2017-06-07 19:20] sladkovm commented on #107
Ok, thanks. If I understand correctly the default limiter is enabled by default. I will inspect in more details what sort of ConnectionError I receive from the remote host.

[2017-06-07 19:20] #107 closed

[2017-06-29 17:31] shaunc869 commented on #58
Did you ever find a solution to this error? Thanks!

[2017-06-30 14:12] hozn commented on #58
No, we're just using the requests library . It looks like you're not the first to run into sandbox issues w/ sockets, though.  If you have any suggestions, I'm open to tweaking how we use lib -- PRs welcome.

https://stackoverflow.com/questions/38830407/using-py2neo-v3-with-google-app-engine
https://cloud.google.com/appengine/docs/standard/python/sockets/#limitations_and_restrictions

[2017-06-30 14:12] #58 closed

[2017-06-30 14:32] shaunc869 commented on #58
I actually found a solution in the app engine docs:

To use requests, you'll need to install both requests and requests-toolbelt using the vendoring instructions.

Once installed, use the requests_toolbelt.adapters.appengine module to configure requests to use URLFetch:

https://cloud.google.com/appengine/docs/standard/python/issue-requests

[2017-06-30 14:34] hozn commented on #58
Thanks for following up!

On Fri, Jun 30, 2017 at 10:32 AM Shaun <notifications@github.com> wrote:

[2017-07-08 14:05] 35944 opened #108 "Rate Limit problems"
Hi,

When the rate limit is reached, a internal server error (500) is popping up, stating a DeadlineExceededError:
DeadlineExceededError: The overall deadline for responding to the HTTP request was exceeded.

It traces back to __call__ (/lib/stravalib/util/limiter.py:64), and my guess is it is related to this part:
                    # Wait the difference between timeframe and the oldest request.

[2017-07-08 16:51] hozn commented on #108
I don't want to say that is not possible, but the intent of that sleep code is to sleep between different requests.  Admittedly, though, I've not played recently with exceeding rate limit; I have the sense that the Strava response codes / headers / etc. have gotten more sophisticated.  We really need a more responsive / less-naive version of the rate limiter.

[2017-07-08 19:01] JamesAdamHughes opened #109 "Subscribing to Webhook Events"
One of the most useful features of the Strava v3 API are the webhook events: http://strava.github.io/api/v3/events/
These allow an app to subscribe to events from the user, such as uploading an activity. This means the server does not have to poll strava constantly to check if a new activity has been uploaded.

Currently this is not in the python stravalib, but would be a great addition to an alre

[2017-07-08 19:03] JamesAdamHughes commented on #109
I've just found this already has been done in client.py ln:1382! Awesome

[2017-07-09 04:04] hozn commented on #109
Yes, definitely the docs need some love. Let us know if you find any issues. This does seem like a great feature (someone contributed this code, so I haven't used it myself)

[2017-08-23 00:35] loisaidasam opened #110 "`club.members` doesn't work"
Imagine that `club` is an instance of `stravalib.model.Club` ...

[code]

The same seems to hold for the `activities` property. Neither `_members` nor `_activities` is ever defined, causing things to bork.

See here:

https://github.com/hozn/stravalib/blob/e355330c814fb744100dacbbb299de723dbe414e/stravalib/model.py#L163-L177

[2017-08-23 04:57] hozn commented on #110
Hmmm, that seems like a big oversight. I will take a look later this AM.

[2017-08-23 14:57] loisaidasam opened #111 "Request counting?"
It would be nice to have some sort of built in request counter (perhaps even in the logging) to keep track of how many API calls an application is making.

I dug around a little bit in the code but couldn't really find anything (maybe it's hiding right in front of my nose!). Is there something like this? Perhaps at the protocol level?

https://github.com/hozn/stravalib/blob/master/stravalib/protoc

[2017-08-23 15:04] jsamoocha commented on #111
See this on line 178?

[code]
I'm in need of this as well - may work on it in the next weeks or so...

[2017-08-23 15:14] loisaidasam commented on #111
Aha, interesting!

[2017-08-23 21:03] hozn commented on #111
Yeah, any patches for that would be very welcome!

And @loisaidasam , I think your idea of dummy rate limiter for logging is a great one.  Maybe it would make sense to add a general "hook" concept; I haven't given that a lot of thought.  ... Open to suggestions, PRs, etc.

[2017-08-29 15:35] jsamoocha opened #112 "Inconsistent behavior for activities without laps"
See https://github.com/hozn/stravalib/issues/96. Strava is returning a list of laps as part of the response for `get_activity()`. When there are no laps for the activity, the response simply does not have a `laps` property. At the moment of accessing the `laps` property of the `Activity` object without laps (i.e. its `_laps` attribute is `None`), the following code calls Strava and returns a `Batc

[2017-08-29 16:28] hozn commented on #112
Yeah, I need to review this api. Perhaps the main get-activity didn't
return laps (?) -- but in general I agree. Moreover, we should not have a
dynamic property with same attribute name as the one returned with the
original/parent entity.

On Tue, Aug 29, 2017, 17:35 Jonatan Samoocha <notifications@github.com>
wrote:

[2017-09-06 03:08] pivancy opened #113 "Data serialization"
I was really surprised when I was looking through the code and didn't found any serialization (to_json, to_dict, etc.) methods to serialize data somehow.

It was terrible to create some handy serialization for `Activity` model when there are about a 50 fields there and some of them may contain other objects with a huge number of fields.

I guess, this issue is critical enough.

[2017-09-06 03:16] pivancy opened #114 "Invalid data types"
I'm using `stravalib` for getting updates via web hooks and found one important thing:
Types described in models may be different with types sent in updates.

E.g.:
- `weighted_average_watts` field from `Activity` model has `int` as a data type, but `None` may be sent,
- `description` field from `Activity` model has `six.text_type` as a data type, but `None` may be sent,
...

There is also a lot o

[2017-09-08 02:08] hozn commented on #114
So, does the trafaret validator not allow for None?  None isn't really a type in python, so changing our model/attribute types system doesn't really seem to make sense here.  Any of these attributes support `None` values in our model system.  This sounds like a configuration issue in `trafaret` (?)  Or maybe I'm misunderstanding how you're proposing stravalib would address this.

[2017-09-08 02:14] hozn commented on #113
If you'd like to submit a pull request that uses the generic model/attribute system to perform to_dict/to_json serialization, that would be welcome.  I can certainly appreciate that this would be useful.  I can look at this at some point too.  Yes, doing it by hand isn't necessary; this should be easy to build programmatically, as the model classes should have all the type information that is need

[2017-09-08 07:57] pivancy commented on #114
If you'll try to use some basic check it'll also fail:

`isinstance(weighted_average_watts, int)` - fails if weighted_average_watts is None. That's why I don't think that it's a trafaret issue.
Also, if we're talking about saving this data into database, you're not able to save None(empty value), if you defined this field as an int in the database schema.

[2017-09-08 14:43] hozn commented on #114
Yeah, that's just how python works; this really is not a stravalib issue.  The type of all the model attributes is implicitly "or None" so your validation library needs to support this.  It looks like this is easy to do in trafaret, though:
[code]
From http://trafaret.readthedocs.io/en/latest/intro.html#or

[2017-09-08 14:43] #114 closed

[2017-09-13 02:41] aligg opened #115 "utc_offset deprecated?"
I get a lot of warnings working with the library. I think this is because utc_offset is included in your model but Strava has deprecated that attribute. Do you think that should be changed? I could also try submitting pull request although I haven't done that before!

[2017-09-13 11:30] hozn commented on #115
Yeah, we probably need to comment it out, though I also have code that uses that I think -- so I probably need to review what they're doing now instead! :)

[2017-09-13 20:45] aligg commented on #115
Cool. Submitted a pull request to try it out.

[2017-09-14 13:59] hozn commented on #115
Thanks - merged!  I'll leave this open for now as a reminder to investigate the change from Strava a little more deeply.

[2017-09-26 16:58] pcoster commented on #115
Sorry to be a pain. I'm still getting a lot of warnings about the UTC_offset attribute. I've hunted around to try to work it out but no luck. Any advice?

[2017-09-26 17:18] hozn commented on #115
@pcoster , I assume you're using the version from pypi?  I need to do a new release.  (No need to apologize; I should have done that sooner.)

[2017-09-28 13:12] wjazdbitu opened #117 "get_athlete_starred_segments"
In [V3 API](https://strava.github.io/api/v3/segments/#starred) there are methods for collecting authenticated user starred segments and any user starred segments. That second possiblity is missing in stravalib. Code for client.py:
[code]

The **get_starred_segment** should be **get_starred_segments** by the way.

Could you please add this method to next version?

[2017-09-28 15:46] pcoster commented on #115
Yes I was. Now I get the warnings on python3 but not on python2. I've installed with pip and pip3. Might be embarrassing myself but I though I'd ask anyway. Thanks for building this thing, by the way.

[2017-09-28 16:16] hozn commented on #115
I'll do my best to sit down and put together the release this week.  I'd like to take a look at the issues and update changelog, etc.

[2017-09-28 16:19] hozn commented on #117
Yeah, that looks pretty straightforward.

[2017-09-28 16:20] hozn commented on #109
@JamesAdamHughes , do you have any example code you'd like to share that's working for you?  -- I'm interested in updating the docs to include this.

[2017-09-28 16:20] #110 closed

[2017-09-28 16:23] hozn commented on #100
It sounds like this can be closed.  It could be nice in the future if we issued a warning or something if you access attributes that were not fetched (i.e. athlete was populated with summary-level, but you are looking for detail-level attrib).  But then that might just raise a lot of warnings for people that are comfortable with the current "maybe-the-attrib-is-set" behavior.

[2017-09-28 16:23] #100 closed

[2017-09-28 16:25] #25 closed

[2017-10-02 16:22] pcoster commented on #115
Cool thanks a lot. Just ignoring the warnings for now seems to be working fine for now. :)

[2017-10-03 19:00] pcoster opened #118 "get_activity_streams gives 404 error"
When I try to get streams from an activity that doesn't have any streams (A treadmill run in this case) I get a 404 error and the program exits. It seems like a slightly weird situation because there doesn't seem to be a way to check directly from the activity itself whether there are streams, other than to just to fail.
I'm not sure what the graceful failure would look like here, maybe just catch

[2017-10-03 19:05] hozn commented on #118
Yeah, I think we'll want to check the response status and explicitly handle 404 for streams.

[2017-10-03 19:10] hozn commented on #118
As for a workaround, you could explicitly handle that exception for now. Probably something like:
[code]

[2017-10-16 16:46] piotr-kubica commented on #61
It works in Python 3
`>>> from stravalib import Client

21179.63 km

21179632.00 m`

[2017-11-06 16:00] #111 closed

[2017-11-13 09:38] TorbjornT opened #122 "Warning about "No such attribute from_accepted_tag" from activities"
(I guess this is in the same vein as #115, so was unsure whether to add a new issue or not, please just close this one if you like.)

Anyway, when iterating over activities after `get_activities`, I get two warnings for each activity, one about `utc_offset`, the other one is that mentioned in the title:

[code]

Where I've removed the actual `Activity id` and `name` for the second one.  Is this se

[2017-11-14 14:16] hozn commented on #122
I'm assuming these are either new or deprecated attributes, yes (don't remember exactly under what circumstances it emits that warning).  So, you can ignore the warning for now, but it points to something needed to be cleaned up.  Thanks for reporting.

[2017-11-15 14:51] piotr-kubica opened #125 "Optional wait/sleep functionality in XRateLimitRule"
As mentioned by [jsamoocha](https://github.com/hozn/stravalib/pull/121) in #121

[2017-11-15 14:56] jsamoocha commented on #125
See #124  :-)

[2017-12-03 10:59] dizhu1991 opened #126 "How to get every attribute of a certain activity"
Hi, I am now able to get the list of a certain athlete's activities with get_activities(), and I can print one of several of the attributes (like .id or .start_latlng); however I can't find a way of printing ALL of them or putting them into one data frame, as the number of attributes is so big. get_activity_streams seems doable, but the 11 "types" in get_activity_streams are different from those o

[2017-12-03 15:16] hozn commented on #126
Hi - when you retrieve an athlete's activities with get_activities() you are getting back a list (or an iterator) of `stravalib.model.Activity` objects.  All available attributes are present on that returned object.  See: https://github.com/hozn/stravalib/blob/master/stravalib/model.py#L690

[2017-12-03 15:16] #126 closed

[2017-12-04 01:46] dizhu1991 commented on #126
Thanks! @hozn Can I ask just one more weak question? How can I transform this class object to something that can be dealt with by pandas? I tried to use activity.__dict__, but it didn't output the values of attributes.

[2017-12-04 14:15] hozn commented on #126
Ah, yeah, I think having a `to_dict()` method would be useful.  I'll make a ticket to add that.  Shouldn't be too difficult.

[2017-12-04 14:16] hozn opened #127 "Create to_dict() method on the model objects"
Driven most recently by #126 by @dizhu1991, I think it would be useful to have a `to_dict()` method to export loaded attributes.  For initial version we can probably ignore any of the lazy-loaded objects (in future we could add a flat to `to_dict()` to incldue these).

[2017-12-10 09:59] sanderroosendaal opened #128 "Update stravalib on PyPi?"
Would be great if we could simply install with pip install - the version on PyPi is somewhat behind what is happening here on github. Thanks

[2017-12-10 14:21] hozn commented on #128
Yeah, it is -- I was hoping to add a couple of methods, but I can go ahead and push this out before.  I expect more versions will be coming shortly, as I'm turning to spend some time on development.

[2017-12-10 16:01] #127 closed

[2017-12-10 16:06] #122 closed

[2017-12-10 16:15] #117 closed

[2017-12-11 02:20] #112 closed

[2017-12-11 02:20] hozn commented on #112
So, yeah, this was buggy.  It was allowing laps to be set, but it was setting it to a dictionary instead of an `ActivityLap` model.  The behavior now where we just use laps present in the Activity seems better.

[2017-12-11 02:21] hozn commented on #115
This has been fixed.

[2017-12-11 02:21] #115 closed

[2017-12-11 02:21] hozn commented on #109
The docs need to be improved, but clearing the milestone.  I'm going to be using this in coming weeks, so I'll take that opportunity to document it.

[2017-12-11 02:38] hozn commented on #128
Ok - 0.7.0 pushed out.  Thanks for the prod!

[2017-12-11 02:38] #128 closed

[2017-12-11 07:19] wjazdbitu commented on #117
Thanks.

[2017-12-13 12:01] dizhu1991 opened #129 "So many warnings"
Hi,

When I call functions from stravalib, there are always so many warnings. For example, when I call get_activities(), there will be an awful lot of warnings like:

No such attribute from_accepted_tag on entity <Activity id=329727250 name='Bayswater' resource_state=2>

Why does this happen? This doesn't affect final results but...

Thanks.

[2017-12-13 13:49] hozn commented on #129
@dizhu1991, what version are you using?  Version 0.7.0 should include that attribute.

[2017-12-13 22:07] dizhu1991 commented on #129
Hi @hozn ,

Thanks! I just updated the latest version. It runs well.

Cheers,

[2017-12-13 22:07] #129 closed

[2017-12-16 14:20] montant opened #130 "Can't update an activity type to EBikeRide type"
An exception is raised when trying so.

[2017-12-16 14:36] #130 closed

[2017-12-16 14:36] montant commented on #130
Fixed in current master.

[2017-12-18 05:47] dizhu1991 commented on #118
Hi @hozn , I met the same problem now. Because of this error the following parts of my code just can't work. I tried to put in your workaround code, but the error is still there, and another one appeared:
`AttributeError: 'NoneType' object has no attribute 'status_code'`

What can I do now? Thanks.

[2017-12-21 18:14] hozn commented on #118
I don't know; I would have to investigate to see what HTTPError is being returned -- and why there's no response object.  I'll look at this when I get a few minutes over some upcoming time off work.

[2018-01-03 02:28] hozn opened #131 "Empty lists on model objects becoming None"
E.g. if there are no segment efforts for an activity, `Activity.segment_efforts` is `None` instead of expected `[]`.

[2018-01-03 02:29] #131 closed

[2018-01-03 20:42] dizhu1991 opened #132 "How to extract segment efforts"
Hi @hozn ,

I saw in your documentation that there are functions to extract segment efforts and effort streams if effort id is known. But how to get a list of effort ids during an activity? There doesn't seem to be this function right now.

Cheers,

Di

[2018-01-03 21:01] hozn commented on #132
`Activity.segment_efforts` is a list of `SegmentEffort` objects (https://github.com/hozn/stravalib/blob/master/stravalib/model.py#L700).  (Note that in last-released version this could also be None if it was empty; this has been fixed in master.)

Is that what you're looking for?

[2018-01-03 23:17] dizhu1991 commented on #132
I'm not so sure... But still, if I want to call `get_segment_effort`, I need to know effort_id, which I don't know where to extract. Is there any way to do that?

[2018-01-03 23:53] hozn commented on #132
Right, so from an activity you can get segment efforts, as above. Then the `SegmentEffort.id` attribute gives you the effort ID.   If you need the segment ID, `SegmentEffort.segment.id`.

[2018-01-03 23:53] #132 closed

[2018-01-04 00:10] dizhu1991 commented on #132
Thanks!

Another question: if the segment efforts are null, it basically means there is no other way of finding them? Or the user didn't upload the data?

[2018-01-04 02:25] hozn commented on #132
Yes, if the segment_efforts is `None` this means there were no efforts recorded for the ride.  Perhaps user checked the "exclude from segment leaderboards" option (? - though I'm not sure if this actually removes any efforts from activity), or more likely there just weren't any segments on the route?

The `None` is a bug, which has been fixed, but not released yet.  It should be empty list (`[]`)

[2018-01-10 20:20] hozn opened #134 "Catch 401 and 404 errors and return better exceptions"
Right now we get HTTPError when an activity (or segment, etc.?) is not found.  This should probably be a stravalib exception so that clients don't have to deal with HTTPError directly.

Here's an example stack track for a ride-not-found:
[code]

[2018-01-19 15:42] hozn opened #135 "Switch to using Marshmallow for serialization"
[Marshmallow](https://marshmallow.readthedocs.io/en/latest/) would make for a more universal and cleaner solution to deserializing (and serializing) the data from Strava.

Advantages:
- Less magical use of class vs. instance attrs
- (relatedly) better IDE integration (type hinting)

Disadvantages / Mismatches:
- Concepts like tracking whether attrs exist in detailed or summary views wouldn't be so

[2018-01-19 15:44] hozn opened #136 "Drop python 2 support"
For version 2.0, we'll drop support for python 2, so that we can use native python type hinting and other features in python 3.  It's time.

Whether we want to rename the library or just continue a 0.x branch for python 2, is unclear at this time.  Hopefully we can just have version >= 2.x require python 3.6+  and version 1.x remains compatible with python 2.7+.

1.x would only get bugfixes going

[2018-01-19 22:19] greenpasta opened #137 "athlete_id attribute returns None for client.get_segment_leaderboard"
This seems to have just started happening in the past few days. It happens on any segment I've tested.

For example:

[code]
Returns

[code]

[2018-01-19 23:56] hozn commented on #137
I don't believe this is a library but _per se_.  Strava just changed their API, apparently :-/

See https://groups.google.com/forum/#!topic/strava-api/SsL2ytxtZng

[2018-01-20 02:16] hozn commented on #118
This is also a bit related to #134, though I will fix this one more specifically to return empty list.

[2018-01-20 02:28] #134 closed

[2018-01-20 02:28] #137 closed

[2018-01-20 02:28] #118 closed

[2018-01-26 09:01] tijmenjoppe opened #138 "Cannot set value of `kom_type` in `SegmentLeaderboard`"
When retrieving the leaderboard for a segment, the `kom_type` value in the `SegmentLeaderboard` class cannot be set.

(Quick fix I did was replace the `ChoicesAttribute` of `kom_type` by a simple `Attribute(six.text_type)`).

[2018-01-26 13:07] hozn commented on #138
Thanks for letting me know. I must have made a mistake with that "enum". I'll fix this for 0.8.1

[2018-01-26 16:02] ColCarroll opened #139 "`get_friend_activities` no longer works"
Looks like the endpoint `activities/following` was removed by strava: https://github.com/strava/developers.strava.com/commit/42c85bea6e0f66272015fd8675e0c2535c0c716c#diff-d6222e8ec341b3819cfba9b10f20ce6b

This breaks `stravalib.Client.get_friend_activities`.

Have not dug in to see whether there is a replacement!

[2018-01-27 01:14] hozn commented on #139
Yeah, I think this is part of the big, breaking changes Strava just did.

[2018-01-27 01:16] hozn commented on #139
https://developers.strava.com/docs/january-2018-update/

[2018-01-27 01:16] hozn commented on #139
I don't think there's replacement functionality.  So we probably should remove it from stravalib.

[2018-01-27 01:31] hozn opened #140 "Raise NotImplementedError for all the newly defunct Strava methods"
Big breaking changes from upstream that should be reflected in the app.

https://github.com/strava/developers.strava.com/commit/42c85bea6e0f66272015fd8675e0c2535c0c716c#diff-d6222e8ec341b3819cfba9b10f20ce6b

https://developers.strava.com/docs/january-2018-update/

[2018-01-27 01:32] hozn commented on #139
I'll address this more comprehensively in #140

[2018-01-27 01:36] hozn commented on #138
Incidentally, @tijmenjoppe , can you tell me what the value of `kom_type` was that it was refusing to set?  (I tested this with a canned/saved raw json for an activity, which worked as expected.)  I will set this to a regular string attr, though, either way, since I don't really trust Strava's docs to comprehensively describe the valid values.

[2018-01-27 01:38] #138 closed

[2018-01-27 01:38] #140 closed

[2018-01-27 01:40] hozn commented on #138
Ok, fixed in 0.9.0

[2018-01-30 03:06] #139 closed

[2018-01-30 03:09] hozn opened #141 "Update the "limits" from the rate limit headers in DefaultRateLimiter"
Currently the new XRateLimit code updates the usage from the headers, but leaves the limits with whatever they were configured initially.  I think in addition to updating the usage values, it would be appropriate to also update the limits for apps that are using rate limits but might have non-default limits set.

[2018-01-30 06:59] jsamoocha commented on #141
`SleepingRateLimitRule` implements this. It updates the short/long limits that are communicated by the Strava API at every response. In addition to using the limits from the response, you can also override them using the `short_limit`, `long_limit` and `force_limits` arguments. Its `__call__` implementation can be used as an example to enable similar behavior in the non-sleeping `XRateLimitRule`.

[2018-01-30 11:43] hozn commented on #141
Yeah, I did see that, but felt like it might be more consistent to also update limits from headers here (and not raise exc if the actual limits hadn't been exceeded). I followed same pattern of having the `force_limits` param.

[2018-01-30 11:43] hozn commented on #141
Nice work, BTW; this was my first time using the new rate limiters myself!

[2018-01-31 01:18] hozn commented on #141
Err, apparently I mistaked my commit.  Fixed in 77fba44e0.

[2018-01-31 01:18] #141 closed

[2018-01-31 01:21] hozn commented on #66
Huh, apparently I duplicated this in #134

[2018-01-31 01:21] #66 closed

[2018-01-31 01:25] hozn commented on #113
BTW, there's a `to_dict()` method now.  See #127

[2018-01-31 01:25] #113 closed

[2018-01-31 01:27] hozn commented on #61
I'm going to assume this is a bug in units, as we're using python 3 division (`from __future__ import division ...`) and also not doing anything specifically for converting kilometers.

[2018-01-31 01:27] #61 closed

[2018-02-19 14:48] maartenmennes opened #142 "description field not correctly read from strava"
Hello,
I'm trying to access the description field of a ride to fetch the comments I made on a ride. However, it looks like that field is always 'None'?

[2018-03-07 10:56] harrypropellernet opened #143 "Tokens occasionally one time use?"
More often than not the tokens I have collected work the first time then will return bad requests if you try to run them again? Is this by design by strava?
``
Traceback (most recent call last):
  File "C:/Users/HarryAdams/PycharmProjects/EvansCycles/main.py", line 17, in <module>
    access_token = client.exchange_code_for_token(client_id=removed, client_secret='clientsecretremoved', code='tokenn

[2018-03-07 12:44] jsamoocha commented on #143
Yes, you only need to exchange a temporary code for a permanent access token once. From that moment on, you use the permanent access token to access the API on behalf of that user.

[2018-03-07 13:45] #143 closed

[2018-03-31 23:40] SergeiMinaev opened #146 "id returns None"
[code]
Is there any other way to get activity ID from club activities?

[2018-04-02 16:12] hozn commented on #146
I believe that this is a Strava API change.  Does this address your question: https://groups.google.com/forum/#!topic/strava-api/P-SnkWvffpg ?

[2018-04-05 00:55] SergeiMinaev commented on #146
Yeah. That's sad :(

[2018-04-06 09:46] maartenmennes commented on #142
hello, I was wondering if there was any update regarding this question? Perhaps I'm doing something wrong? Thanks for the great work!

[2018-04-07 16:58] sshevlyagin opened #147 "What's going to happen with this library?"
Just noticed that strava significantly revamped their dev story and now you can get an autogenerated swagger library for their API.  @hozn did you know?
https://github.com/strava/developers.strava.com/#client-code

[2018-04-08 01:24] hozn commented on #147
I hadn't seen the codegen code, though I've noticed they've adapted Swagger for their API, yeah.  I guess I'm not sure it really affects this library.

Strava's API is fairly easy to use with the `requests` module already if you want to deal with the low-level.  I think there's value in having higher-level abstractions, and things like the `BatchedResultsIterators` that aren't going to (at least a

[2018-04-08 01:24] #147 closed

[2018-04-11 14:16] epatpol opened #148 "No activity ID when using club.get_club_activities and iterating over the results"
Using python 3.6.4 and `stravalib` 0.6.6

If I try the following code:

[code]

Here are the results I get:

[code]

It used to work (a long time ago when I was using python 2 I believe). Using `get_club_activities` I could get activities with unique IDs. Am I doing something wrong here?

Thanks!

[2018-04-11 15:05] hozn commented on #148
This is due to changes in Strava's API, not the library.

See https://groups.google.com/forum/#!topic/strava-api/P-SnkWvffpg (and other threads)

[2018-04-11 15:05] #148 closed

[2018-04-16 19:43] paulte opened #149 "stravalib depends on pip internal functions"
It looks like stravalib/setup.py is relying on parse_requirements to be a stable / exposed interface.

There's references that the pip module doesn't support this type of use:
https://github.com/pypa/pip/issues/2286

Testing stravalib with python3.5, pip 10.0.0 in a clean virtualenv gives the following

[code]

[2018-04-16 19:51] hozn commented on #149
Thanks for letting me know!  I'll figure out the more official way to achieve this.

[2018-04-16 20:10] paulte commented on #149
This should do it:

https://github.com/hozn/stravalib/pull/150

[2018-04-19 17:56] MurielMauch commented on #149
Another solution for this issue can be seen here <https://stackoverflow.com/questions/25192794/no-module-named-pip-req> and it is as it follows:

try: # for pip >= 10
    from pip._internal.req import parse_requirements
except ImportError: # for pip <= 9.0.3
    from pip.req import parse_requirements

I'm not sure though if it's the best option, but it worked locally.

[2018-04-19 20:34] paulte commented on #149
From a bit of digging around at the time, the consensus I reached was that pip provided  functions shouldn’t be seen as a stable / external interface layer for re-use.  Looks to be  a common misunderstanding/issue for a number of python modules over time as the pip module has evolved.

[2018-04-21 18:03] zefoo commented on #149
I did pip install pip==9.0.3 – that solved it. I second @paulte, pip 10 isn't too stable from what I found.

[2018-04-21 18:34] zefoo opened #151 "How to get segment from an activity stream?"
First, great library – glad I found this! Thank ya'll.

1. I want to get the segment ID from a specific time that I pull via activity stream of an auth'd user. I don't see a way to pull the segment via an activity stream (it'd be great if that was a type provided by API). Is this possible?

2. I believe I can pull all segment efforts per https://groups.google.com/forum/#!searchin/strava-api/segmen

[2018-05-01 07:07] timthelion commented on #102
I think this is supported by strava now. Woke up this morning to a bunch of sentry logs that look like:

[code]

[2018-05-22 08:04] Andrii-Kalyniuk opened #152 "401 Client Error: Unauthorized"
Hello. Help me to understand, please.
I'm trying to create activity manually. But the following code crashes with an error.

Code:
[code]

Output:
[code]

[2018-05-22 14:23] hozn commented on #152
From that error message, I assume the problem is that this access token does not include write permissions:  when athlete A*i K*k granted permission to your application, they need to check the box that says [something like] "write allowed".

[2018-05-30 09:02] prof-schacht opened #153 "Can't get ID of Activity by using activities = client.get_activities()"
Hi,

I was wondering how I can get the id of an activity by using the client.get_activities() function.
When I look into this function and also the activity model behind it, I can't see the field ID.

My intention was, that I can download all activities from an athlete and then enable the possibility to get in addition the details (streams) of an activity by pressing an button.

When I look into t

[2018-05-30 12:51] hozn commented on #153
Does this not work for you ... ?
[code]

[2018-05-31 07:31] sander48k opened #154 "RateLimitExceeded raised with wrong parameters"
When the RateLimitExceeded exception is raised, its limit and timeout parameters seem to be swapped. E.g. limit = 900, timeout = 600 when the short limit of the DefaultRateLimiter has exceeded.

I think, in `XRateLimitRule._check_limit_rates`, `_raise_rate_limit_exception` is called with parameters in the wrong order.

[2018-05-31 15:52] hozn commented on #154
Thanks for posting this; I'll take a look!

[2018-06-01 16:49] sander48k opened #155 "Number of seconds to next quarter/hour calculated wrongly"
The `get_seconds_until_next_quarter` and `get_seconds_until_next_day` functions in `stravalib.util.limiter` always return the same value when called without a parameter. The default parameter (now=arrow.utcnow()) is evaluated only once when the function definition is executed (see [here](https://docs.python.org/2.0/ref/function.html).

[2018-06-01 17:06] hozn commented on #155
Yeah, that wouldn't work at all :-)  I'm embarrassed that I merged that in.

[2018-06-01 17:12] sander48k commented on #155
Haha, don't be! It's really a great library overall. Works perfectly for my application. Keep up the good work!

[2018-06-01 17:55] jsamoocha commented on #155
My bad, I'll take a look...

[2018-06-01 17:58] hozn commented on #155
@jsamoocha , no worries; i should have caught it.   this pattern would be best:
[code]

[2018-06-01 17:59] jsamoocha commented on #155
That may break some unit tests

[2018-06-03 09:53] patfelst opened #156 "Error when calling get_athlete()"
When I call "get_athlete()" I get this error, although the call is successful and returns data as expected.

`No such attribute subscription_permissions on entity <Athlete id=None firstname=None lastname=None>`

I've tried calling:
`stats = client.get_athlete_stats(athlete_id = strava_id)` (where strava_id is my id as an integer) but  python throws an exception (crashes) with the following message

[2018-06-03 11:10] hozn commented on #156
The first warning (not an error) just indicates that we do need to add a missing attribute to the model (Strava is constantly tweaking the structure of their models.)

The second exception is hopefully pretty clear from the message; this endpoint no longer exists.

[2018-06-03 11:13] patfelst commented on #156
ok thanks, is there a way for me to suppress the warning so it doesn't display on my python console? Apologies, this is probably not a library question, but I'm new to python.

[2018-06-03 11:16] hozn commented on #156
You could configure your logger to raise level to error for qualname=stravalib. But I can also fix that -- probably later today by adding the missing attribute.

(We should probably drop those to a lower log level too. It is useful to know when new attractive are added since they don't announce this on the dev list, but in most cases it won't affect existing functionality.)

[2018-06-03 11:26] patfelst commented on #156
Sorry I misread your first reply. What is the missing attribute that needs to be added? Looking at the current API, it appears GET /athlete does not need any? What are these "subscription_permissions"?

And thanks again, I will also look into logger error reporting levels.

[2018-06-03 12:06] hozn commented on #156
Yeah, no param is required, so:
[code]
is the correct call.

I'm looking now at this issue, though, and plan to push out a fix shortly to add this new attr (once I figure out what it actually is/contains).

[2018-06-03 12:14] patfelst commented on #156
Much appreciated, thank you

[2018-06-03 12:30] hozn commented on #156
Ok -- I uploaded a 0.9.3 that should not emit this warning.

[2018-06-03 12:32] patfelst commented on #156
Great. I see it is not documented. Interesting...

How long does it take to get into pip?

[2018-06-03 12:35] hozn commented on #156
Ok -- I was a little hasty, sorry :)  -- I uploaded 0.9.3 but forgot to do the changelog, and since twine won't let me name file same name, so it is 0.9.4 now :-)  You should see it there.

[2018-06-03 12:41] patfelst commented on #156
Got 0.9.4 now and the warning has gone - thanks!

[2018-06-03 12:56] hozn commented on #156
No prob -- thanks for pointing out the issue!

[2018-06-13 04:36] ebrensi opened #157 "Setting `rate_limit_requests=False` in Client causes error"
FYI I am using python 2.7.  If I instantiate a Stravalib `Client` object with  `rate_limit_requests=False` and then try to `get_activities` using that client, I get the error:
[code]

The problem is that if we explicitly specify no rate limiter,  a dummy rate limiter is defined in https://github.com/hozn/stravalib/blob/931e067fd71f7e784f265eecf67ecb959ab35487/stravalib/protocol.py#L47-L50 as,
[cod

[2018-08-06 11:05] 35944 commented on #151
Hi,

I'm not sure what your intent is with your first question. What do you mean with a segment ID from a specific time?

Second. This might help:
`activity_segments = client.get_activity(567288259, include_all_efforts="True").segment_efforts`
replace 567288259 with the activity you'd like to get the segments from.

If you then run a for loop over the segments, you can get segment information. If

[2018-09-20 20:10] gringorichards opened #159 "get_activity issues errors"
No such attribute visibility on entity <Activity id=X name='Morning Ride' resource_state=3>
No such attribute available_zones on entity <Activity id=X name='Morning Ride' resource_state=3>

Get_activities does it too.

Sorry if it's something I am doing wrong but couldn't work out how to stop it popping up!

Thanks

[2018-09-21 01:04] ashleyshine commented on #159
Came here for the same reason; looks like somewhere along the line the warnings are being logged because the `get_activities()` call tries to retrieve a visibility attribute from the Activity entities.

In the meantime, a quick fix to make the warnings go away is to set the logging level higher than WARNING:
[code]

[2018-09-21 06:39] gringorichards commented on #159
Thanks, was trying everything under the sun to suppress the list of warnings in my Jupyter Notebook - your quick fix did the trick!
Glad to see I wasn't imagining it too.

[2018-09-21 12:47] hozn commented on #159
Thanks for the heads up -- I'll push out a fix to correct the expectation
of these attributes being present.

On Fri, Sep 21, 2018 at 2:39 AM gringorichards <notifications@github.com>
wrote:

[2018-09-21 14:10] gringorichards commented on #159
Thank you very much. It's a great library.

On Fri, 21 Sep 2018, 13:47 Hans Lellelid, <notifications@github.com> wrote:

[2018-10-08 18:35] enicklas opened #160 "update_activity with gear_id='none' works for rides but not for runs"
According to https://developers.strava.com/docs/reference/#api-models-UpdatableActivity, setting the gear_id to 'none' should clear gears from the activity on an update. This works fine via stravalib's update_activity for rides, but not for runs (the gear is kept without changes). I have not checked with other sports types

Not sure if this is a bug in stravalib or the strava API itself.

Thanks a

[2018-10-15 07:46] ghn opened #161 "Segments on route"
Hello,

Is it already planned to add `segments` in the `Route` model ? https://github.com/hozn/stravalib/blob/master/stravalib/model.py#L1099
or shall I strart doing it? If so, any hint to help me get started?
Thanks

[2018-10-16 06:23] jsamoocha opened #162 "OAuth Updates"
See [Strava's message](https://developers.strava.com/docs/oauth-updates/) about the replacement of permanent access tokens by short-lived ones. This may require some thoughts about redesigning the API...

[2018-10-27 21:33] ghn commented on #162
Hi! any plan for this update yet?

[2018-10-28 01:06] hozn commented on #162
PRs welcome. I haven't had time to look at this yet, no.

[2018-11-02 17:06] hozn commented on #162
Released in 0.10.0 -- thanks @david-pacheco

[2018-11-02 17:07] #162 closed

[2018-11-05 21:54] david-pacheco commented on #162
I realized there is an issue with my solution. Apparently Strava is not returning the refresh token on the first authentication if the correct "scopes" are not passed in the initial authorization request (according to this post: https://stackoverflow.com/questions/53009519/strava-api-refresh-token-doesnt-issued-after-first-authorization). So the authorize_url method must also be changed...

[2018-11-05 22:03] david-pacheco opened #164 "The current 'authorize_url' method is not compatible with new Strava OAuth"
After the release of 0.10.0, the new Strava OAuth is not fully functional if the scopes for the authorize_url are not updated. (https://stackoverflow.com/questions/53009519/strava-api-refresh-token-doesnt-issued-after-first-authorization)

[2018-11-08 15:41] hozn commented on #164
Thanks for following up with this.  I should have checked w/ you before pushing out that release.  Clearly I'm not actively using stravalib or I probably would have caught this.

[2018-11-08 15:42] #164 closed

[2018-11-08 16:36] hozn commented on #164
(Pushed out in 0.10.1)

[2018-11-09 07:35] lvcook opened #166 "0.10.1 is Python2-only on pypi"
The latest version that pip3 can download is the broken 0.10.0; it is unable to get 0.10.1 with the fixed token_exchange function which has been uploaded as Python 2 compatible only.

[2018-11-11 16:06] glandais opened #168 "0.10.1 still doesn't have right scopes in protocol"
Scopes are available here : https://developers.strava.com/docs/authentication/

Also, scope is multivalued, the assertion will fail if we try to use several scopes.

[2018-11-14 20:03] alistair0adams commented on #168
Yep, that the problem I just encountered. I just commented out the assert for now.

[2018-11-14 22:54] alistair0adams commented on #152
I had the same problem. It did not resolve till I changed the code in the above example:

from:
client = Client()
access_token = "3*84"
client.access_token = access_token

to:
client = Client()
access_token = client.exchange_code_for_token(
    client_id=client_id,
    client_secret=client_secret,
    code=access_token
)

[2018-11-15 00:52] hozn commented on #168
I will review this and get this more properly fixed -- hopefully tonight.
Apologies, all.

On Wed, Nov 14, 2018, 15:03 alistair0adams <notifications@github.com> wrote:

[2018-11-15 02:49] #168 closed

[2018-11-15 02:51] hozn commented on #166
I pushed out a new 0.10.2 that should be python agnostic.

[2018-11-15 02:51] #166 closed

[2018-11-15 02:52] hozn commented on #168
This should be fixed now, but let me know what you find next.

[2018-11-15 18:38] alistair0adams commented on #168
I noticed after I commented that there's a pending pull request to fix this which does it in a slightly different way. Both look good to me.

[2018-12-07 21:24] fabthegreat opened #170 "stravalib.exc.AccessUnauthorized error"
Hello,

Thanks for this promising API!

My code is quite simple:
[code]

first print for athlete firstname and email work fine but for friends it returns:
`stravalib.exc.AccessUnauthorized: Unauthorized: Authorization Error: []`

How to solve this?

Thanks

[2018-12-09 16:59] fabthegreat commented on #152
Hello @alistair0adams ,

your snippet doesn't work (anymore?) since i get this error performing:
[code]
the error looks like:
`stravalib.exc.Fault: 400 Client error: Bad request`

An idea?

[2018-12-10 10:32] shenki opened #171 "get_athlete fails with 'The /athletes/{id} endpoint was removed by Strava."
[code]

[2018-12-10 10:32] shenki opened #172 "get_athlete fails with 'The /athletes/{id} endpoint was removed by Strava'"
[code]

[2018-12-10 10:33] shenki commented on #172
I am using 0.10.2

[2018-12-10 10:34] shenki commented on #171
Apologies. Github misbehaved and I ended up with two issues opened. See #172

[2018-12-10 10:34] #171 closed

[2018-12-10 12:00] shenki commented on #172
I notice now that this is stravalib returning this error, not the API as I initially thought.

Does this mean strava doesn't support requesting other users data?

When I'm logged in as myself, I can see the user I'm trying to request. This means I can scrape it from the browser, but is there an API for this?

[2018-12-10 12:12] jsamoocha commented on #172
Strava _does_ support requesting other users data. You'll need these users' access tokens, however.

[2018-12-10 13:09] hozn commented on #172
Yes, correct. You can only request the profile for the authorized / "logged in" athlete.

[2018-12-10 13:14] shenki commented on #172
Thanks for clarifying. It's confusing that Strava exposes much less data via the API than they do via the web interface.

I guess I will go back to scraping the website.

[2018-12-10 13:14] #172 closed

[2018-12-11 22:47] pcoster opened #173 "Refresh token problem in exchange_code_for_token"
When I call exchange_code_for_token with reasonable arguments I get the following keyError:
[code]
Sorry.. pretty bad formatting but I hope it's not too annoying. I guess this means that the library expects to get a refresh_token in the response from Strava but it isn't getting one? The Strava documentation says it should be sending one so I'm not sure what to make of it.

https://developers.strav

[2018-12-12 20:33] pcoster commented on #173
Looks like (for the request that I made with curl to investigate) that strava does not include the necessary info (namely 'refresh_token') in the response.

[2018-12-12 20:37] hozn commented on #173
Hmm, this is surprising and annoying.  Yeah, I don't know how we're supposed to use this oauth system if they're not providing the refresh token ...

[2018-12-12 20:43] pcoster commented on #173
I think I've got it right. Did you try to verify that they are failing to respond as it says in the documentation? I'd hate to be getting it wrong for some other reason?

[2018-12-17 03:13] hozn commented on #173
Sorry for delay in following up.  I just verified that I *do* get a refresh_token, using the example app I added to the repository: https://github.com/hozn/stravalib/tree/master/examples/strava-oauth

Maybe try that and if it works, check the way you're exchanging for token?

[2018-12-19 14:36] alistair0adams commented on #152
@fabthegreat This was a one of use so I haven't looked at it since. Just make sure you have entered the correct access_token, client_id, client_secret from the credentials that you got when you create the strava app id. Don't use "3*84" verbatim, that's just an example.

[2019-01-03 20:12] obscurerichard opened #175 "Documentation on https://pythonhosted.org/stravalib/ is lagging behind current version"
The documentation on https://pythonhosted.org/stravalib/ is for 0.6.5 but the current version is 0.10.2. Major changes in authentication have happened since then. Could you update the pythonhosted docs please?

[2019-01-08 04:44] jlapenna opened #176 "Cut 0.10.3 (including rate limiter change) ?"

[2019-01-10 19:56] xXRobinXx opened #177 "stravalib.exc.Fault: 414 Client Error: Request-URI Too Large [None]"
Traceback (most recent call last):
  File "C:\Python\Python37-32\strava.py", line 31, in <module>
    code=code)
  File "C:\Python\Python37-32\Lib\site-packages\stravalib\client.py", line 133, in exchange_code_for_token
    code=code)
  File "C:\Python\Python37-32\Lib\site-packages\stravalib\protocol.py", line 128, in exchange_code_for_token
    method='POST')
  File "C:\Python\Python37-32\Lib\sit

[2019-01-14 22:32] ayi092 opened #178 "activity.description always returns None"
I am able to get all attributes of an activity with the exception of its description. No error is thrown, but it returns None every time even though I have descriptions in the activity.

`import stravalib

def get_activities(limit: int) -> stravalib.client.BatchedResultsIterator:
    """
    """
    client = stravalib.client.Client(access_token='XXXXXXXXXXX')
    client.get_athlete()
    activitie

[2019-01-15 10:57] maartenmennes commented on #178
I reported the same problem almost a year ago #142

I would like to use it to better track different gear (likes different wheels used on the same bike).

[2019-01-28 13:00] robross74 opened #179 "API update has broken stuff"
Hi,

Looks like the API update on 17th Jan has broken quite a bit on functionality?  Lots of these sorts of errors from previously working code:

NotImplementedError: The /athletes/{id} endpoint was removed by Strava.  See https://developers.strava.com/docs/january-2018-update/

Happy to test proposed fixes but not really at a level to contribute to the repairs themselves.

Rob

[2019-01-28 13:40] hozn commented on #179
Yes, this functionality no longer exists; that is why the code now raises a `NotImplementedError` with a link to the original announcement.  I can't really make Strava bring that functionality back :)

[2019-01-28 13:40] #179 closed

[2019-01-28 14:48] hozn commented on #179
Yeah, they made a lot of developers angry when they pulled out support for
querying athletes, etc.  From a privacy perspective what they did makes
sense .... but it was sudden and swift and removed a lot of functionality
that used to exist.

On Mon, Jan 28, 2019 at 8:59 AM robross74 <notifications@github.com> wrote:

[2019-01-29 13:01] robross74 opened #180 "Hazardous segments leaderboard not returned"
Authenticated athlete has accepted hazardous segment waiver.

[code]

Returns

[code]

[2019-02-12 14:53] dazzag24 commented on #173
I suspect that if you have an older app that predates the OAuth changes then you do not receive a refresh token using the sample code.

In my use of the sample I had to change this code
[code]
to
[code]

My client app now correctly authenticates and I receive the refresh token.

What is the default scope if none is supplied to the authorization_url() call?

[2019-03-03 22:06] inspiran opened #181 "Allowing multiple scopes"
Currently it seems to be not possible to pass multiple scopes to the authorization url.  An example use case is if you want to retrieve the gear of an athlete (profile:read_all) while also having access to their private activities (activity:read_all).

Is this by design or should the lib allow multiple scopes?   Is there perhaps a work around?

[2019-04-11 23:05] alasspri commented on #181
I think you can pass a list of multiple scopes, as when you do they are all concatenated to the same string for the URL https://github.com/hozn/stravalib/blob/5500ebc39e0bf4706bb1ca4c27b25e56becaaa5f/stravalib/protocol.py#L93

e.g.
`url = client.authorization_url(client_id=current_app.config['STRAVA_CLIENT_ID'],
                                   redirect_uri=redirect_uri,

[2019-04-11 23:31] alasspri commented on #170
Doesn't look like that is available any more.

The code is calling the following route: `'/athletes/{id}/friends'` and references http://strava.github.io/api/v3/follow/#friends as documentation. However I can't see any reference to it in the playground or the API docs: https://developers.strava.com/playground/

Strangely can't see any deprecation notice in the changeling either.

[2019-04-12 22:53] alasspri commented on #178
This looks like it is a bit of an odd quirk of the Strava API.

**GET** `/activities` returns with a resource state of `2`, which is summary details, but there is no description field returned in this response. This is the endpoint called by the `get_activities()` function.

**GET** `/activities/{id}` returns with a resource state of `3`, which is full details and does include the description fiel

[2019-04-13 22:59] ayi092 commented on #178
@alasspri
Fantastic. That will work just fine. Thanks for pointing that out.

[2019-04-13 22:59] #178 closed

[2019-07-10 21:37] adv27 commented on #153
Hi, the result method `to_dict()` not include `id` field

[2019-07-17 18:45] pwalesdi opened #185 "AccessUnauthorized: Unauthorized: Authorization Error"
I am trying to to create a list in my jupyter notebook for my activities data that I pulled but it keeps returning this error.

`from stravalib.client import Client
client = Client(access_token=access_token)
activities = client.get_activities(limit=1000)
sample = list(activities)
sample.to_dict()
`
this is the error I get:
`AccessUnauthorized: Unauthorized: Authorization Error: [{'resource': 'Athl

[2019-07-19 18:27] ethanopp opened #186 "stravalib.exc.ObjectNotFound when trying client.update_activity()"
Does this function still work with v3 of strava API?

I've tried it with client authed both as `scope='profile:write'` and `scope='activity:write'`

Getting the following when trying this simple call:
`    client.update_activity(activity_id=18638834,name='Test Name')
`

Error:
[code]

[2019-08-05 08:37] dongbum commented on #170
I programmed like @fabthegreat 's code. But I can't access friends/followers list, too.
Is unusable this feature? If so, need to update API documentation as soon as posible.

[2019-08-05 16:04] hozn commented on #170
Hi all -- sorry for the silence on this.  Yes, indeed, it appears this was removed from the Strava API -- presumably along with all the other removals from big privacy refactor.

I'll leave this open as a documentation issue.

[2019-08-06 01:47] dongbum commented on #170
@hozn Thanks to reply.
I suggest, how about add mark as 'deprecated' in documentation? ( https://pythonhosted.org/stravalib/usage/athletes.html#friends-and-followers )

Because most people read the documentation first. And they will find this issue page after find problem.

[2019-08-06 04:16] krwester commented on #185
I get the same error -- code below.
[code]
As you can see below, I'm able to retrieve the Athlete, but I can't retrieve the activities.
[code]

[2019-08-06 06:06] 35944 commented on #185
Hi guys,

Make sure to have set the scope specifically to match your needs. I need all (public + private) profile information and public detailed activity information, and have my scope set as below:

scope = ['read', 'profile:read_all', 'activity:read']
client.authorization_url(client_id=strava_client_id, redirect_uri=redirect_uri, scope=scope)

Valid values are 'read', 'read_all', 'profile:read_

[2019-08-07 02:44] krwester commented on #185
That did it.  Thank you!

[2019-08-23 02:03] ethanopp opened #187 "GetStreams for activity type "Run" not returning watts"
I'm aware strava does not currently display watts for Runs on their website, but it seems that they do still consume the data by users using a run power meter (i.e. Stryd).

3rd party extensions like Elevate can see this power data, however when trying to pull with the api, watts are not returned.

Here is an example where Elevate can see the power data, however when pulling with the following cod

[2019-08-23 05:23] jsamoocha commented on #187
I think this question should be for Strava (or Stryd) since it's Strava that is not returning the watts stream.

From my experience, the API's behavior is sketchy. For some users, running power is returned, for others, it's not. It may depend on the device they used, or how these activities were uploaded to Strava.

[2019-08-23 12:06] ethanopp commented on #187
Ah well that’s unfortunate...wanted to make sure it wasn’t this library restricting the types before going to strava support - because there’s nothing in their documentation that would indicate watts shouldn’t be returned... submitted a ticket to strava support to see what they say

[2019-08-23 12:08] ethanopp commented on #187
Also spoke with stryd and they said if using Apple Watch (which I do) watts should come thru the API but not if using garmin...not exactly sure why though...if anyone has an Apple Watch stryd .fit file I’d be happy to test it...otherwise have to wait for mine to come in the mail around the end of September

[2019-08-24 10:43] montant commented on #187
If it helps to figure out which configuration works and which doesn't: I'm
owner of a Suunto Spartan and a Stryd sensor, and I have watts data
available on Strava Website.

Joël

Le ven. 23 août 2019 à 14:08, ethanopp <notifications@github.com> a écrit :

[2019-08-24 11:45] ethanopp commented on #187
Would you mind sharing a .fit file so I can test the API on it?

[2019-08-24 13:36] montant commented on #187
Here is a .fit file as exported from Suunto App (from Strava, I found how
to export as GPX, but not as FIT).

Notice I was not fully correct when I wrote "power data is available on
Strava website". In fact I don't see power data on _website_, but I'm
seeing them on _Strava android app_ (thus Strava is getting them anyway).

Joël

Le sam. 24 août 2019 à 13:45, ethanopp <notifications@github.com> a

[2019-08-24 16:48] ethanopp commented on #187
@montant Doesn't look like anything was attached? Also the main strava website would not show the power data, but if you had an extension like Elevate installed for google chrome or firefox I would think you should be able to see it

[2019-08-24 18:09] montant commented on #187
@ethanopp
Hopefully the file should be here now:
[TrailRunning_2019-08-24T08_01_17.zip](https://github.com/hozn/stravalib/files/3537459/TrailRunning_2019-08-24T08_01_17.zip)

Thanks for the tip about elevate, it is installed now, and "digesting" my history of moves.

[2019-08-24 18:23] ethanopp commented on #187
@montant Thanks for the file!

Just confirmed that strava API is now returning watts, going to close this... Seems like its just an issue with the Garmin created .fit files

[2019-08-24 18:23] #187 closed

[2019-09-21 15:02] ethanopp opened #188 "get_activity_streams not returning all data points"
Title says it all... API does not seem to be returning all data points of the activity...

[code]

Instead of starting from time=0 (or 1), the first data point is over 3 minutes into the workout (i.e. time=second 184).

When exporting the TCX directly from the activity page on strava, all data points get downloaded.

[2019-09-21 19:03] jsamoocha commented on #188
Do these first 184 seconds happen to be within the athlete's privacy zone? If so, do you have an access token with sufficient scope for reading private activities?

[2019-09-21 20:01] ethanopp commented on #188
Ah didn’t even think of this! Yes they were in the privacy zone...what scope do I need to request for this?

It’s just my own personal app, so which scope can I use for all access? I thought what I am currently using would do it:

scope=['activity:write', 'activity:read', 'profile:write'])

[2019-09-21 20:59] 35944 commented on #188
These are your options:

'read', 'read_all', 'profile:read_all', 'profile:write', 'profile:write',
'activity:read', 'activity:read_all', 'activity:write'

You’ll need activity:read_all for this one

Op za 21 sep. 2019 om 22:01 schreef ethanopp <notifications@github.com>

[2019-09-21 21:28] ethanopp commented on #188
That did it! Thanks

[2019-09-21 21:28] #188 closed

[2019-10-08 13:43] ethanopp commented on #186
This was due to bad scope being passed... Fixed with the following:
`scope=['read', 'read_all', 'profile:read_all', 'profile:write', 'activity:read','activity:read_all', 'activity:write'])`

[2019-10-08 13:43] #186 closed

[2019-11-24 22:52] Myjestic commented on #180
I can confirm this issue. I have about 120 segments. 5 of them are throwing this error.
Would be nice to know what causes this behaviour.

[2019-12-15 14:08] bapBardas commented on #153
I'm running into the same issue

[2019-12-16 14:36] darthale commented on #153
the `id` in the Activity entity is named `upload_id` rather than `id`.

[2019-12-17 06:59] bapBardas commented on #153
No, this is not correct : for instance i retrieve an `activity.upload_id = '3125668582'` while the `activity.id = 2936266820`
btw upload_id is also a field of the Activity before converting it to dict.

[2019-12-27 10:18] luisnabais opened #189 "Getting lots of null values, which can be seen on Strava UI"
Hello.

I'm getting lots of null values when getting activities, but I can see them on Strava Website and apps.
A basic example is the calories, I can see them on Strava, but returns null using stravalib.

Example Activity:
(I replaced some values, which were long or IDs)

[code]

I got the activity using:

and printed it with a loop:
[code]

Thanks a lot.

[2019-12-27 15:04] 35944 commented on #189
Do you have the right permissions set when making the call?

Op vr 27 dec. 2019 om 11:18 schreef Luís Nabais <notifications@github.com>

[2019-12-30 09:04] luisnabais commented on #189
Yes, I've tried the read and update tokens. It's my own account, my own user data, so I should be able to read everything, right?

[2019-12-30 14:03] 35944 commented on #189
No, I mean when authenticating. Do you specify the scope?

https://developers.strava.com/docs/authentication/

Scroll down on this page until you see scope and use the one you need.

Op ma 30 dec. 2019 om 10:04 schreef Luís Nabais <notifications@github.com>

[2020-01-03 18:37] triwats commented on #189
This indeed looks like a scoping issue, and from what you've told us that you have `activity:read` granted but not `read` or `profile:read_all` as discussed in the link above.

Are you trying to access details of a profile that is private by any chance? Happy New Year too!

[2020-01-06 16:06] luisnabais commented on #189
Hello guys.

I'm accessing my own data, not other athlete's, but my own activities! The token is correct. I've tried using different category configurations on the Strava API, like Training, Other, Visualizer, but I really can't seem to detect the issue.

Where can I see the scope? I'm using the default.

I'll let the code here:
[code]

[2020-01-06 19:05] tnikkel commented on #189
Try adding "scope=['read_all', 'profile:read_all', 'activity:read_all']" as a parameter to client.authorization_url and it should let you read everything on your profile.

[2020-01-16 15:15] luisnabais commented on #189
After many tests, I found out that the calories are not visible on the activity summary, there they are null. Calories can only be seen on activity details, so if I want them, I have to fetch them on the activity details.

Thanks a lot for your help.

[2020-01-16 15:15] #189 closed

[2020-01-16 15:20] luisnabais opened #190 "After each request, I get AuthorizationCode Expired."
Hello.

Since a few days ago, every time I do a request, on the second one I get:
`stravalib.exc.Fault: 400 Client Error: Bad Request [Bad Request: [{'resource': 'AuthorizationCode', 'field': '', 'code': 'expired'}]]`

After that I have to get the Strava URL to get the code and re-authorize the app. Then I can do one successful request and the second shows the same error.

I've checked all the API

[2020-01-29 23:28] triwats commented on #190
I'm experiencing this too @luisnabais - did you figure out a fix? It's very frustrating! Thanks

[2020-02-06 11:07] luisnabais commented on #190
Unfortunately I had to go to a different lib, as this one doesn't have an adequate support...

[2020-02-08 08:13] eliteminds commented on #190
I have solved it with calling refresh_access_token right after first authorization and saving refresh_token.

[2020-03-15 18:44] triwats commented on #190
@eliteminds - could you share an example of this?

[2020-03-16 05:12] jameshcooper commented on #190
@triwats

[code]

[2020-03-16 17:00] triwats commented on #190
@jameshcooper - what a hero, I'll test this later. Are we presuming however that this is a bug within the Strava API? My `access_token` is still within the `expiry`, which is why I'm a little confused. This seemed to change behaviour around 16/01/2020.

[2020-05-13 07:39] ChrisRSA opened #192 "How to get activity stream into a usable form."
Hi there, really enjoying using stravalib.

I was just wondering if you could help me get data from activity stream into a usable form such as pandas data frame?

I have used your code as follows:
[code]

This is what I am attempting and the output I get.

[code]

[2020-05-13 09:11] jsamoocha commented on #192
You need to create your DataFrame columns from the stream's `data` attribute. One way to achieve that is by using a dict comprehension in your DataFrame constructor, e.g.:

[code]

Notice that every element in your `streams` dictionary is an object of type `Stream`. Pandas does not automagically know how to interpret these objects and as such `from_dict()` doesn't work.

[2020-05-13 11:33] ChrisRSA commented on #192
Thank you so much! That worked. I cant tell you how frustrated I have been trying to work that out.

[2020-05-13 11:33] #192 closed

[2020-05-28 20:37] latusaki opened #193 "Effort count alternative ?"
I have posted this to strava api group with no response, so here goes..
I am using this library to keep track of the number of users for some segments. I have been doing this using the segment leaderboard effort count. With that functionality being removed, is there any way of getting this information? I don't care about anything other than how many users completed the segment "today". If not by s

[2020-05-28 20:45] tnikkel commented on #193
The get_segment call should return a segment object with an effort_count field. If you call that once every day at the same time you can subtract todays value from yesterdays value to get the number of efforts recorded in the last 24 hours.

[2020-05-28 20:56] latusaki commented on #193
I am looking at general segment usage, not for a specific athlete.

[2020-05-28 21:03] tnikkel commented on #193
If you look at https://developers.strava.com/docs/reference/#api-Segments-getSegmentById it has:

  "effort_count" : 309974,
  "athlete_count" : 30623,
  "star_count" : 2428,
  "athlete_segment_stats" : {
    "pr_elapsed_time" : 553,
    "pr_date" : "1993-04-03",
    "effort_count" : 2
  }

The effort_count outside of athlete_segment_stats seems like it should track effort count of all athletes. D

[2020-05-28 21:37] latusaki commented on #193
Sounds like you are right, currently I am using this : '''
Leaderboard = client.get_segment_leaderboard(segment_id, timeframe=TIMEFRAME[timeframe])
 leaderboard.effort_count
'''
The count you shared sounds like all-time, but should be easy enough to calculate daily. Thanks!

[2020-05-30 10:31] #193 closed

[2020-06-01 18:19] oliverkurth opened #194 "from_dict() throws exception when parsing output from to_dict()"
I am trying to save output of `to_dict` , converted to json format, and then load it later. This fails.

This is how the output is saved:
[code]

And this is how it's loaded again:

[code]

This throws an exception:
[code]

The reason is that the timezone string was modified from `"(GMT-08:00) America/Los_Angeles"` to `"America/Los_Angeles"` when saved, but on rereading the former format is expect

[2020-06-05 02:24] tirkarthi opened #196 "Importing ABC from collections has been deprecated and will be removed in Python 3.10"
Use collections in python 2.7 and collections.abc in Python 3.4+

[code]

[2020-06-07 22:59] #196 closed

[2020-06-22 03:48] samirak93 commented on #185
Hi, I'm facing the same error. My code is
[code]

Can you provide any feedback on how to fix it?

[2020-06-22 05:50] jsamoocha commented on #185
@samirak93  If `access_token` is your default access token that you got when creating your app, its scope is always `read`. Did you use the authorization URL you created with `client.authorization_url()` to request a new token with the additional scopes? See e.g. https://developers.strava.com/docs/authentication/

[2020-06-23 01:10] samirak93 commented on #185
Got it to work. Apologies to have missed that part. Thanks.

[2020-06-23 04:30] samirak93 opened #198 "Calories, kilojoules and other metrics are None"
Hi,
On the official API page, the sample get_activities seems to have numeric values for calories, kilojoules and other metrics.
https://developers.strava.com/docs/reference/#api-Activities-getActivityById

`get_activities` returns None for these metrics. Is this expected? Any reason behind this?

[2020-06-29 20:47] jakearmendariz commented on #153
Same issue. Upload ID does not match the id

Great library thank you!

[2020-08-15 08:38] yass-arafat commented on #109
Is there any documentation added regarding subscribing event? Thanks @hozn

[2020-08-25 17:57] hawkeye217 commented on #109
+1 for even a quick snippet of code on subscribing to webhook events!

[2020-08-25 20:13] hozn commented on #109
Thanks all for your patience!  I don't have documentation per se, but happy to link over to an example of where I used this for a project: https://github.com/freezingsaddles/freezing-nq/blob/master/freezing/nq/api/webhook.py

[2021-01-25 18:20] f1gjam opened #208 "Athlete support in webhook"
Add support for athlete in webhook.

This will allow to delete athlete etc...

[2021-02-06 13:25] sinancetinkaya opened #209 "Confusing create_subscription documentation"
"The appliction must have permission to make use of the webhook API. Access can be requested by contacting developers -at- strava.com" https://pythonhosted.org/stravalib/api.html#stravalib.client.Client.create_subscription
I sent an email to Strava and I got an auto-response telling me to use Strava API Google Groups.
And there's no such a thing in Strava Webhook API documentation.
Can you clarify

[2021-02-08 21:26] f1gjam opened #210 "please create a new pip release"
Hi,

Can you please create a new pip release of the library, there is a bug in the model.py to dict which has been fixed in code but hasn't been pushed out to pip.

[2021-03-22 16:33] mrpbennett opened #211 "Getting `DetailedAthlete` is there a way?"
How. can I get access to the `detailedAthlete`? I want to gain access to FTP,

[2021-05-18 14:17] johnkendall opened #212 "API out of date"
There seem to be numerous faults with the stavalib library due to changes in the Strava API. Just a few:

.get_athlete(id) The /athletes/{id} endpoint was removed by Strava.  See https://developers.strava.com/docs/january-2018-update/
.get_athlete_friends() Returns error 403 Client Error: Forbidden [Forbidden[]].
.get_athlete_followers() Returns error 403 Client Error: Forbidden [Forbidden[]].
kud

[2021-05-27 07:32] yass-arafat opened #213 "Retreive Status Code"
Is there any way to get the status code that Strava is sending to the library. That would be easier for us to decide whether the exception occuring for rate-limit or unauthorize user or record not found etc.

[2021-05-27 07:34] tnikkel commented on #213
What about catching the exception stravalib.exc.RateLimitExceeded etc?

[2021-06-10 14:48] rotti commented on #211
https://developers.strava.com/docs/reference/#api-Athletes-getStats

[2021-07-07 19:11] cassiusgithub opened #214 "Changes to API giving warnings"
Hi,

Thank you for this great lib. I found that recently errors are thrown when getting a activity.

I'm getting the following errors at least on rides and virtual rides:
[code]

The following addition to the **Segment class** in **model.py** removed the warnings.
`elevation_profile = Attribute(six.text_type, (SUMMARY, DETAILED))`

The elevation profile appears to be None or a URL in the json retu

[2021-08-12 13:50] jsamoocha opened #215 "Strava API change for activities without GPS lead to deserialization error"
It seems there was an (as far as this moment) unannounced API change in Strava where activities without GPS are now returned with `[]` as the value of the `start_latlng` attribute. I don't know what value was returned before, but now the following snippet in `attributes.py` fails with an `IndexError`:

[code]

[2021-08-12 17:59] slackorama commented on #215
Got burned by this today. Thanks for working on a fix.

I vote for `None`

[2021-08-12 18:15] TheBeakerton commented on #215
Same, also found this "surprise" today.  `None `makes sense to me.  Thank you!

[2021-08-12 19:22] pgp80 commented on #215
Got this one beginning yesterday, for me it's when I'm pulling a list of strava activities based on a predetermined date selector in my django web app, definitely would appreciate a fix if someone can do it!

[2021-08-13 11:07] #215 closed

[2021-08-13 23:29] yvetterowe commented on #215
Same here, thanks for fixing this!

[2021-08-17 01:27] #153 closed

[2021-08-17 21:17] #214 closed

[2021-08-17 21:27] hozn commented on #215
I pushed out 0.10.3. I'm having some issues with my API App, so having a hard time validating.  (it's saturated its quotas; I need to talk to the freezingsaddles folks about setting up their own API App). Please let me know if there are any issues with this new release.

[2021-08-18 00:06] yvetterowe opened #217 "Hit "NameError: name 'unicode' is not defined" for python 3"
Hit the following error after bumping to 0.10.3
[code]
Is the ideal fix here to replace `unicode` by `str`? Will that break the support for Python 2.7? Happy to open a PR if it makes sense.

[2021-08-18 00:07] yvetterowe commented on #215
Thank you for the new release! I bumped the version in my app but hit https://github.com/hozn/stravalib/issues/217 - happy to open a PR to fix it if it makes sense.

[2021-08-18 00:35] yvetterowe commented on #217
https://github.com/yvetterowe/running_page/actions/runs/1141306749 Got a green run now with https://github.com/hozn/stravalib/pull/218!

[2021-08-18 00:38] hozn commented on #217
Thanks so much! I need to fix my local test env. I'll get this fixed. Must
have accepted an MR that didn't use six.text_type.

On Tue, Aug 17, 2021, 20:35 Hao Luo ***@***.***> wrote:

[2021-08-18 00:45] hozn commented on #215
Thanks again for checking my work.  I need to start a conversation w/ Strava about some sort of test account for functional testing this library to unblock my sharing an actual live application for testing.

[2021-08-25 08:46] #213 closed

[2021-09-09 15:30] samryan18 opened #219 "Incorrect documentation for authorizing client to read private activities"
[Incorrect documentation](https://pythonhosted.org/stravalib/api.html#stravalib.client.Client.authorization_url):
![image](https://user-images.githubusercontent.com/23075262/132715846-fc70dd3e-7ecf-4b86-9473-ab480532640e.png)

Source code with valid scope params:
https://github.com/hozn/stravalib/blob/eabeabf5b40d818ea7c0d9f0bd6c4d619450581f/stravalib/protocol.py#L83-L88

[2021-09-09 15:32] samryan18 commented on #219
Need to take a look at how these docs were generated. Can give this a go soon

[2021-09-10 01:09] lwasser opened #220 "A few new issues with strava data access - get_athlete() returning Unable to set attribute nickname on entity... (seems to not like shoes) :)"
Hey y'all.
i'm running into issues with code that used to work. i'm open to helping (i see that the maintainer would like some help and i get that burden of maintaining a package like this that people use!) but need a bit of guidance to understand what's going wrong. I authenticate and such and all works well. Then i try to get my current profile:

[code]

it works and correctly returns  my name b

[2021-09-10 01:11] hozn commented on #220
Yeah, this sounds like Strava updating the attributes in their entities. If I can find a spare minute, I can look up the new attrs in their API and add them, but also happy to take any PR to do that.

[2021-09-10 01:36] lwasser commented on #220
hey @hozn thanks for the speedy response.

if you can provide a bit of direction i can try to help but i did find this in the api:
https://developers.strava.com/docs/reference/#api-Athletes-getLoggedInAthlete

[code]

then i found the summary for gear:
https://developers.strava.com/docs/reference/#api-models-SummaryGear

<img width="585" alt="Screen Shot 2021-09-09 at 7 29 19 PM" src="https://user

[2021-09-10 02:49] yihong0618 commented on #220
@lwasser will also give a try~

[2021-09-10 04:11] yihong0618 commented on #220
@lwasser @hozn

You can just add the Attribute on Shoe model. like below.

![image](https://user-images.githubusercontent.com/15976103/132798425-97438d6c-d7e1-4c02-915b-685859df9b89.png)

I can provide a `PR` or you continue as this?

[2021-09-10 16:48] lwasser commented on #220
@yihong0618 please go ahead and give it a try! i will see how you do it. i see now the Shoe object is going to grab the structure from Gear. i got a bit confused because shoe was empty and gear seemed to have attributes for shoes.

I am happy to test your PR if you want to submit. i haven't had a chance to set up the dev envt yet and am still wrapping my head around the hierarchy of the class stru

[2021-09-10 16:57] hozn commented on #220
Thank you both for taking a stab at this.

[2021-09-10 17:42] lwasser commented on #220
Hey @yihong0618 @hozn that fix worked!! Code below - i added retired as that is being thrown as a warning for me too.

@yihong0618 curious - i'm digging through the API and don't actually see where those attributes are stored - i took a wild guess that retired would be a boolean and it worked but i was just curious if you looked at their docs or just looked at the error and identified a few attrib

[2021-09-10 17:43] lwasser commented on #220
so @yihong0618 i'm happy to submit a PR or you can either way it gets fixed!! i'll post my second error that may be a pagination issue in just a bit.

[2021-09-10 21:58] yihong0618 commented on #220
Cool，Submit the PR.
I think the api doc from strava did not update. I just do some test and some guess and found the problem.

[2021-09-13 18:23] #220 closed

[2021-09-14 00:45] yihong0618 commented on #220
My pleasure.

[2021-09-14 18:30] lwasser commented on #219
oh interesting - i think that is the API docs via [Sphinx autodoc](https://github.com/hozn/stravalib/blob/master/docs/conf.py#L32)

The code actually looks correct here.

https://github.com/hozn/stravalib/blob/eabeabf5b40d818ea7c0d9f0bd6c4d619450581f/stravalib/protocol.py#L66

@hozn how are you building your docs? it doesn't look like you are using read the docs but i could be wrong. I am happy to

[2021-09-15 14:16] hozn commented on #219
Docs were generated using [sphinx](https://www.sphinx-doc.org/en/master/); however, I suspect the system used has been deprecated, etc.  So would welcome anyone wanting to rethink how those are built etc.  There is a `Makefile` which looks like it was auto-creatd by sphinx in the `doc` directory.  So `make html` may just work .... but as to how those were uploaded, etc. that I suspect has not aged

[2021-09-15 15:28] lwasser commented on #219
@hozn great! i'm happy to help with this. I will open a new issue and we can talk through there what you prefer in terms of infrastructure. then I will implement and update the contributing section of the readme accordingly via a PR. More over the next day or two.

[2021-09-15 17:28] hozn commented on #219
Thanks so much!  I appreciate the help.

[2021-09-16 16:28] lwasser opened #222 "Update Documentation Infrastructure for Stravalib"
In issue #219 , @samryan18 points out that the documentation is out of date. This is likely because the python hosted service doesn't seem to be operating as it used to operate currently. The docs here are already using sphinx which makes it super easy to port to a new platform quickly! We have two options.

## [Read the Docs](https://readthedocs.org/):

This platform will automagically connect to

[2021-09-17 01:01] yihong0618 commented on #222
Cool.

[2021-09-17 02:20] hozn commented on #222
@lwasser , wow - thank you for putting the time into writing this up.  I agree that after reading this the github pages sounds very strong. If you're willing to help make it happen, I'm happy to help support however I can.  Happy to give you project maintainer perms, etc. assuming that may be necessary to setup CI.  I really appreciate the help!

(I'm also 100% cool with a readthedocs-based soluti

[2021-09-17 02:27] yihong0618 commented on #222
@hozn
I can do some help about the code side.

[2021-09-17 02:29] hozn commented on #222
@yihong, thank you!

[2021-09-20 17:15] lwasser commented on #222
awesome!! @hozn @yihong0618 great!! i'll work on pulling together the actions for and we can go from there! @yihong0618  you rock! i'll ping you when i have a draft for review or when i see areas that I may need help. @hozn i will need permissions to setup secrets in the repo to push. But let me test this out on my fork first and I will followup!

[2021-09-22 01:11] lwasser commented on #222
heya @hozn @yihong0618 the deployment to gh pages is actually easier than i thought. [Want to check out a prototype?](https://www.leahwasser.com/stravalib ) I have a domain set to my account but obviously we would host the final docs at hozn.github.io/stravalib . This is just for testing.

I have the docs building via a github action and then they push to gh-pages when we want them to - id assume

[2021-09-23 00:03] hozn commented on #222
@lwasser , as you're doing the work here, I'm happy to convert to your preferred docstring style.  I use this (the current) doc style generally, as it works well in IDEs like PyCharm, but if the numpy docs do as well, I agree they look like their made with humans in mind instead of just computers.

The prototype looks awesome.  Well done.

[2021-09-24 01:21] yihong0618 commented on #222
@lwasser both styles seems fine.

[2021-10-16 15:21] lwasser opened #225 "Setup Ci to run tests on pr's - can anyone help me understand how to run tests please? nosetest-3"
If we add CI to run tests on every pr, it will be easier to determine whether new pr's are acceptable or need work. It will be easy to do this with GitHub actions.

[2021-10-17 00:29] lwasser commented on #225
hey y'all - i'm trying to get the test suite to run so i can ensure tests run on all pr's and also to ensure i' haven't broken anything. i'm used to using pytest and am trying to understand nosetest. The readme says to run `nosetests-3`

i tried to install nose `pip install nose` and that command doesn't seem available. i'm running python 3 on a mac. Any guidance to help me get going with this tes

[2021-10-17 00:48] hozn commented on #225
Hmm, no immediate thoughts, but I'd love to get rid of nosetests here.  This really predates purest being the standard.  Maybe that's something I can do this week. I don't expect it will be terribly hard to switch over; it may even just work, but I suspect that we'll need to convert some class setup/teardown fixtures to proper pytest fixtures.

[2021-10-17 01:05] lwasser commented on #225
hey @hozn thanks! that would be great. i managed to get the test suite to run but am getting a lot of errors. i'm familiar with pytest.

i setup a dummy strava account and we could in theory setup secrets (i think) for the access token and activity id to make this part work via CI. Using pytest would be great.

[2021-12-09 19:59] lwasser opened #228 "several syntax issues in setup.py and conf.py"
@yihong0618 identified some syntax issues in these two files  see:

* https://github.com/hozn/stravalib/pull/224#discussion_r760743582
* https://github.com/hozn/stravalib/pull/224#discussion_r760743949

It could be good to address these in a separate PR vs the really big one open now about documentation. @yihong0618 feel free to submit a PR!

[2021-12-09 20:10] #222 closed

[2021-12-10 20:49] lwasser opened #230 "Deprecated endpoints in the Strava API"
This is related to #212 .
There are several endpoints in the API that have been deprecated. Given this, we should remove those methods from the package to avoid user confusion.

`Get_running_Races` and `get_running_race` are two that i just discovered via my docs update. (see pr #229 ). There probably are others as well so we should revisit. a test suite on CI would help us identify these issues i

[2021-12-17 01:12] yihong0618 commented on #228
Cool.

[2021-12-17 01:31] yihong0618 opened #231 "[Feat] only support python3."
Can we only support python3  because python2 is no longer maintained that can make the code clean.

[2021-12-17 01:39] hozn commented on #231
Certainly I haven't used python 2 in forever. It probably is time to move
on :)

On Thu, Dec 16, 2021, 20:31 yihong ***@***.***> wrote:

[2021-12-22 19:38] samryan18 opened #232 "Photos Endpoint Does Not Exist"
As far as I can tell, this method should not exist or should at least raise something like a `NotImplementedError`:
https://github.com/hozn/stravalib/blob/b8d1181e32248c6570f0adfa995cb6c7adfccf62/stravalib/client.py#L809

This endpoint does not appear to exist in the [Strava API](https://developers.strava.com/docs/reference/#api-Activities):
https://github.com/hozn/stravalib/blob/b8d1181e32248c657

[2021-12-22 19:38] samryan18 commented on #232
If I am wrong (I hope I am!), please do let me know / correct me. Wish Strava supported this..

[2021-12-22 19:40] samryan18 commented on #232
Looks like this is a duplicate/subset of #230

Will leave it open in case someone has suggestions for this particular issue.

[2022-03-16 15:03] rangan2510 commented on #109
Would really like a flask example for webhooks.

[2022-04-14 07:19] djcunningham0 opened #233 "Streams API no longer accepts resolution="all""
"all" is not recognized as a valid value for the "resolution" parameter in the Streams API. When I make a request with resolution=all I get a 400 error. It still works for values of "high", "medium", and "low" (high seems to be the default now).

For what it's worth, the "resolution" parameter has been removed from the [official docs](https://developers.strava.com/docs/reference/#api-Streams-getAc

[2022-04-18 21:53] lwasser commented on #219
hey @samryan18 ! i did a documentation update in the fall - the new docs are here:
https://stravalib.readthedocs.io/en/latest/

are you able to check for me to see if the documentation looks correct to you now? if it does we can likely close this issue! the docs are now building directly from the docstring code when we merge PR's.

[2022-04-18 21:56] lwasser commented on #232
@samryan18 i think it's great for us to identify broken API endpoints and deprecate them in the code.  maybe having a milestone related to broken endpoints that we can chip away at would be helpful here as there are a bunch of them! Are you comfortable submitting a PR to remove these end points or target the endpoints that work? no worries if you are not! i know right now the test suite is a bit t

[2022-04-19 14:44] samryan18 commented on #219
@lwasser the API documentation referenced at the top of the issue appears to be resolved!

p.s. the docs look much nicer now :)

[2022-04-19 14:44] #219 closed

[2022-05-21 05:24] pedropombeiro opened #235 "Exception raised parsing response from create_activity"
It seems that there is a problem decoding the response from `create_activity`:

[code]

[2022-05-21 05:44] pedropombeiro opened #236 "Missing arguments in create_activity"
`create_activity` is missing some arguments that are present in `update_activity`, such as `private`, `commute`, or `gear_id`.

[2022-05-21 06:16] yihong0618 commented on #236
will take a look in this weekend(^-^)

[2022-05-22 13:59] yihong0618 commented on #236
seems we need add these args to the `return`

[2022-06-05 04:38] SebTota opened #237 "start_date_local doesn't include activity timezone"
I recently ran into an issue when I was converting an activities `start_date_local` value from the local time to other time zones. I'm able to handle this locally with the following method, but I was wondering why this isn't built into the library. I can look into making this modification and creating a PR for it, but I wanted to check if this is expected behavior or not.

Here is the method I've

[2022-06-06 06:06] jsamoocha commented on #237
I'm not sure what exactly you're trying to do, but maybe it helps to use the `start_date` (which is always in UTC) attribute instead of `start_date_local`?

[2022-06-06 06:46] SebTota commented on #237
My use case includes finding the start and end date and time local to the activity and then converting that to UTC. I could use the UTC date to start, but I would still need to convert it to the local timezone to find the start and end of the date local to the activity which I was just trying to use `start_date_local` for.

In general though this cases a pretty big issue if the user isn't aware of

[2022-06-06 07:09] jsamoocha commented on #237
To get the end date/time in UTC, you could add the activity's `elapsed_time` (which is already of `timedelta` type) to the `start_date` to give you timezone-aware start - and end times in UTC.

I agree it seems more consistent to make the `start_date_local` timezone-aware, just as `start_date`.  However, retrospectively doing this may break a lot of existing code that depends on the current behavi

[2022-06-06 13:52] SebTota commented on #237
I'm not looking to get the start and end date and time of the activity, but rather the start and end of [the entire day the activity took place](https://github.com/SebTota/StravaCalendarSummaryEventProcessor/blob/main/src/utils/SummaryHandler.py#L31).

You do bring up a good point about breaking existing functionality, but I do think that adding a small comment or something may help people not hav

[2022-10-01 21:54] huaminghuangtw opened #238 "Delete activity using stravalib.client.Client.delete_activity"
I tried to delete a specific activity via `stravalib.client.Client.delete_activity` but I got:

I set the scope to `read,read_all,profile:read_all,profile:write,activity:read,activity:read_all,activity:write`, which I believe should be enough for the activity deletion. What could be wrong?

[2022-10-11 08:35] huaminghuangtw opened #239 "get_athlete() returns a set of warnings given missing attribute for bikes"
I got the following messages while calling `Client.get_athlete()`:
[code]

I believe this is the sams as for the issue #220.
A pull request is submitted.

[2022-10-31 10:47] jsamoocha opened #242 "Unknown time zones cause unmarshalling to crash"
Some activities have unknown or incorrect time zones in the JSON response from Strava, e.g., '(GMT+00:00) Factory', causing the unmarshalling process to crash. #241 is a proposed fix.

[2022-10-31 12:10] jsamoocha commented on #230
As part of #241 (which fixes another unrelated problem), I removed the running_race(s) endpoints to prevent CI from failing.

[2022-10-31 12:21] lwasser opened #243 "Looking for a maintainer to help with the test suite here / maintain?"
Hey @hozn please say the word if this is not something you want. I am now leading pyopensci. i wondered if i can help you find a new maintainer(s) through that effort - at a minimum i think we need a test suite that works on CI. i'm willing to help but don't feel confident with api based test suites as mocking / monkey patching is kind of an art and one that I dont want to abuse.

[2022-10-31 13:24] lwasser commented on #243
that would be awesome. @hozn i think i know the answer to this but are you ok with some help on refactoring the test suite so we can setup CI for it?

[2022-10-31 13:25] lwasser commented on #243
i might also be able to find a few others on twitter through my organization, pyopensci.

[2022-10-31 13:29] jsamoocha commented on #243
Part of the current test suite depends on an existing Strava account/API key. Mocking that part may require quite some (re-)work - many tests assume particular data to be there in Strava.

Maybe the first step for CI inclusion would be to start with only the unit tests since these are independent of the environment. After that, we can gradually add the existing functional/integration tests by mock

[2022-10-31 13:33] hozn commented on #243
@lwasser , I appreciate the help you've provided on this project@  Finding a new maintainer would be great.  @yihong0618 if you're interested, I'm happy to set you up with perms (or @lwasser can do same, I believe).

@jsamoocha , agree that the functional tests aren't going to be easy to get running in CI.  I really wish strava would provide a key that could be used with test data for these sorts

[2022-10-31 13:53] yihong0618 commented on #243
@hozn Thanks my pleasure.

I have made some repos based on `strvalib` like https://github.com/yihong0618/running_page and https://github.com/yihong0618/GitHubPoster

Kind of having a little stravalib source code.

I can do some code review, merge and  refactor jobs. @lwasser what do you think.

[2022-10-31 14:01] lwasser commented on #243
@yihong0618 this all sounds great.  I don't think I can add @yihong0618 as a maintainer @hozn so if you can do that - it would be great. And i really love the idea of starting with unit tests and slowly adding tests to hit the API as it makes sense.

One with with a mock is it would / could atleast detect a change in what strava returns but i get that testing the API is really hard as well. so @ho

[2022-10-31 14:18] jsamoocha commented on #243
Is it necessary to test against the real/mocked Strava API? I can see (but please correct me if I'm wrong) the following approach working for this package:

**Strava API additions:** Someone will want to use a new endpoint or attribute and will eventually submit an issue/PR. We'll need to make sure (through code review or even automated) it is properly documented and added to the Sphinx autodoc ma

[2022-10-31 14:35] hozn commented on #243
@lwasser , will do!  (And, yes, welcome any refactoring!)

[2022-10-31 15:16] jsamoocha commented on #243
To proactively check for changes in the Strava API (which I doubt should be part of CI), we could use the [swagger API reference](https://developers.strava.com/swagger/swagger.json) and some automated inspection of our own domain model and endpoints. It even has example responses we could use for testing happy paths (without having to write all te tests by hand).

[2022-11-01 01:52] yihong0618 commented on #243
@hozn @lwasser I think we also need to add one GitHub Actions workflow to upload the package to `PyPI`

[2022-11-01 08:38] jsamoocha commented on #243
I have some time to help with the following on a short term:

- Add a Github Action workflow for the unit tests
- Review the existing functional/integration tests and move all tests that are independent from the Strava API to the `unit` test package

@yihong0618 @lwasser please let me know if you agree with this approach and it doesn't overlap with your efforts

[2022-11-01 08:46] yihong0618 commented on #243
@jsamoocha cool.
But I think we can not add secret @hozn for this repo as `Collaborators`
if we use current way for unit tests we need add some secrets IMO

[2022-11-01 08:54] jsamoocha commented on #243
I don't think the `unit` tests require any secrets. I can run them locally without problems. Some tests in the `functional` test package depend on a (personal) Strava account; these could be left out of CI for the time being?

[2022-11-01 09:23] yihong0618 commented on #243
that will be nice, I think unit tests is enough for now, personal things we could test locally

[2022-11-01 11:36] lwasser commented on #243
Ok y'all - this is awesome. what do you think about opening up several issues here to track all of the work.
i will do that and assign each of us tasks. that way we can discuss each separately!

Here is a list of things that I think we need to work on
1. Upload to pypi. - a release workflow. I"m happy to work on this. Are you comfortable with my adding something like bump version to update version

[2022-11-01 11:39] lwasser opened #244 "Permission to access pypi / setup release / push action and semantic versioning"
hi @hozn are you comfortable with giving me super power access to this repo to add secrets and such? And also with potentially sharing pypi credentials so I can setup an action to release and push there?

If you are you could email me at leah at pyopensci.org . i'm happy to help move things along here and to continue to contribute where I can! i think this package is really fantastic and i'd like

[2022-11-01 11:47] yihong0618 commented on #243
sounds great. Thank you.

[2022-11-01 14:24] hozn commented on #244
Hi @lwasser  -- yes, I'm happy to do that.  I'm unsure how to grant additional privs in github, but I'll reach out by email and we can coordinate that + pypi.

[2022-11-03 21:23] lwasser commented on #243
hey @yihong0618 @jsamoocha i wanted to check back in here! @hozn setup stravalib here in a new org! this will make it easier to give teams permissions to work on stravalib. I also can help wtih that!

I think Hans also added me to pypi - i need to check that. Once i have a bit of time I can work on the build upon release workflow via a github action.

In the meantime, what type of permissions do y

[2022-11-07 08:15] jsamoocha commented on #243
Hi @lwasser ,

If @yihong0618 and I could have write permissions (or something more fine-grained just to allow us to merge PRs), we would be less dependent on your and @hozn 's time availability for merges.

I'm making some progress in modernizing the test suite (see #245), so that doesn't need a separate issue anymore.

What remains is IMO thinking about if and how we're going to test our "compli

[2022-11-07 13:52] hozn commented on #243
@lwasser , I'll defer to you to grant write perms, as you're the one actively maintaining this, but certainly support more folks having write perms to the repo!

[2022-11-07 15:29] lwasser commented on #243
ok awesome @hozn i'll go ahead and get everyone maintainer level permissions to be able to handle pr's !! :)thanks for chiming in here Hans so I know this is ok!!

[2022-11-07 15:35] lwasser commented on #243
Ok @yihong0618 @jsamoocha i've provided both with write access vis a maintainer team that i created. I could bump you to maintainers if you need that level of access - please let me know.! You should be able to merge pr's. i'm going to lock down the main branch to avoid direct pushes to main without a PR.

it think it's nice to have issues for things just to track things that have been completed i

[2022-11-07 15:52] lwasser commented on #219
wonderful!! Thanks so much @samryan18 !! and glad you like the n ew docs. also sorry i missed this back in april when you replied yikes!!

[2022-11-07 16:08] jsamoocha opened #246 "Test Refactoring, and CI With Linting and Testing"
To have a more reliable CI, unit - and integration tests should not depend on an actual Strava account. Instead, any API calls should be stubbed/mocked.

This is being realized in #245.

[2022-11-07 16:10] jsamoocha commented on #243
Ok, I made an issue describing the test/CI refactoring work; see #246

[2022-11-07 16:27] lwasser opened #247 "Setup push on release to pypi"
Right now we have a manual process setup to push to pypi. This would be best handled by CI.

- [ ] Setup something like bumpversion or another tool to push package version when we are ready for a release
- [ ] Update documentation about how to do a release and how CI is setup
- [ ] Create build for push to pypi on release - this will require adding secrets to the repo to support the release.

[2022-11-07 16:27] lwasser commented on #246
thanks @jsamoocha !!  🎆

[2022-11-09 13:25] hozn opened #248 "Discussion: Consider Pydantic as a replacement for homegrown Models / Attributes framework ?"
A key value-add, in my opinion, for Stravalib is the modeling of the entities from Strava in a way that makes them easy for API users to integrate with their applications.  Not just the stronger typing that is increasingly helpful in larger Python applications, but also handling speed/distance units and conversions.   Since this library has been written, we've had some great new packages added to

[2022-11-09 14:06] jsamoocha opened #249 "Paginated response handling"
There are many methods in `Client` (e.g., `get_activities()`) that return a `BatchedResultsIterator` instance. The Strava API parameter that manages how many results are returned per page is `per_page` (which, BTW, has a deprecation warning in the swagger.json but not in the published API docs).

However, none of the `stravalib` client methods support the `per_page` or `page` parameters that allow

[2022-11-10 00:35] yihong0618 commented on #249
I think we should consider that many users run `stravalib` in `CI`
and some of them did not lock the version in `requirements.txt`
If we have some break change we should be carefully.

[2022-11-10 13:12] hozn commented on #249
Yeah, I think adding a new optional parameter would be fine (not breaking), but agree that we should be careful about not breaking API if the version is not changing major version numbers.

[2022-11-11 09:50] jsamoocha opened #250 "Provide (fully covered) integration tests for all client methods"
For effective CI and PR merging, all existing client endpoint tests from `stravalib.tests.functional` should be moved to or re-recreated in `stravalib.tests.integration`, and use the new `mock_strava_api` fixture to be independent of an actual connection to the Strava API. The tests in `stravalib.tests.integration.test_client` serve as examples.

For each test, let's try to cover all branching log

[2022-11-11 09:57] jsamoocha commented on #231
What needs to be done for this other than removing references to python 2 in the documentation?

[2022-11-11 17:28] lwasser commented on #247
hey @jsamoocha @yihong0618 @hozn do you have any preferences of what we should use to control versioning here? Id love to ensure that we are using modern day packaging workflows.

A few of hte tools that are common now include

* setuptools-scm
* semantic version
* A lot of people use poetry but i don't know that we need that given we really dont have dependencies to concern ourselves with here.

[2022-11-11 17:36] lwasser commented on #247
note: this is what i'm reading and the direction i'm thinking about going with our new build / release

https://towardsdatascience.com/setuptools-python-571e7d5500f2

Essentially we'd want to  remove metadata from setup.py and put in the cfg and toml files instead. and i'm talking with some of my dev friends about the best end structure for all of this.

[2022-11-11 19:16] jsamoocha commented on #247
Hi, I have no experience in version/release management and its tooling, so, unfortunately, cannot contribute to this topic.

[2022-11-11 20:33] lwasser opened #251 "DEV: Move stravalib to setup.cfg and pyproject.toml"
Modern python packaging is moving away from setup.py files and to setup.cfg and toml files. I think ultimately everything will be in the toml files. As a baby step, I will make that transition in a single PR to a more modern package structure.

More info on this here: http://ivory.idyll.org/blog/2021-transition-to-pyproject.toml-example.html

[2022-11-12 07:46] #246 closed

[2022-11-12 13:22] yihong0618 opened #252 "flake8 error seems not make `CI` failed"
![image](https://user-images.githubusercontent.com/15976103/201476032-07b94487-944f-4d27-b06d-5dee8383b739.png)

please check: https://github.com/stravalib/stravalib/actions/runs/3443349681/jobs/5744790434

[2022-11-12 17:26] lwasser commented on #252
Ahhh yes, so to merge we will have to fix the code locally. I spent a lot of time cleaning up flake8 issues but it looks like there are some new ones. this just ensure that we are following PEP 8 guidelines. Oh but some of that is coming from the docs. I can work on this once i get the setup install version stuff fixed @yihong0618 Is this preventing an existing PR from being merged? I could potent

[2022-11-12 17:27] lwasser commented on #247
No problem. i'm going to play with some of the tools and find the one that i think it the most intuitive for us to use. i'll document it well once I land on one. right now i'm also playing with poetry for building the package and managing dependencies too.

[2022-11-12 18:28] lwasser opened #254 "Python version support"
Hey y'all - i think we've informally decided to drop python 2.x which is a breaking change but i think really necessary. Also when building i think we should drop 3.6 which i @jsamoocha did. i just want to ensure that we are all on the same page as i'm modernizing the packaging infrastructure i also am dropping support for Python =< 3.6

[Here is the pr opened in my repo so i could play with CI](h

[2022-11-12 21:25] lwasser commented on #248
@hozn i always think that if there is a really well maintained tool that implements functionality that we'd be maintaining manually here, it's worth considering adding it as a dependency and refactoring code. It seems like we're already moving away from python 2.x and i think we are at >=3.7 at this point given the CI changes implemented already!

So i suppose the question is, how much work would

[2022-11-12 22:45] lwasser commented on #247
hi @hozn whenever you have a bit of time can you also please add me as a collaborator for test pypi? i'm going to setup a test push and a final push for our release workflow! many thanks.

[2022-11-13 03:32] yihong0618 commented on #252
can we change the lint things to `black` and `isort` too?
that will be easy to use.

[2022-11-14 15:25] jsamoocha commented on #252
I chose (based on the example starter workflow) to only let flake8 fail the CI build on syntax errors and undeclared variables. All other flake8 issues will be logged as warnings but not fail the build. This makes sure we will not accidentally ship code with syntax errors if that code happens to be not imported in any of the tests.

If we want to push for consistency in formatting, I'm not against

[2022-11-14 15:45] lwasser commented on #252
I'm a big fan of black and i think isort sounds great too - i know a lot of packages use it now.

we could setup a precommit hook for black, isort and flake 8. It would be optional to run locally but for us  as consistent maintainers it would show us the lint and style errors before we push to GH.

I have mixed feelings about having flake8 display warnings vs error out but i suspect once we get th

[2022-11-14 15:49] jsamoocha commented on #254
I'm not sure about what problem is solved by poetry in this case. Will it force developers to also use poetry if they want to work with stravalib? With a plain `requirements.txt` file, everybody can at least use their own preferred virtual env + dependency management system.

Besides that, python >=3.7 and version 0.11 look great to me.

Just out of curiosity (I'm not an expert on versioning/relea

[2022-11-14 16:27] lwasser commented on #254
@jsamoocha so happy you responded here as i'm really super torn on what tools we should use.

So it sounds like we all support python >3.7 as being our python base. perfect.

# TLDR

* Poetry is ideal for dependency management. Just because we use it to manage dependency and build our wheel doesn't mean that all maintainers / contributors have to use it. We could keep a requirements file too -
* P

[2022-11-14 20:20] jsamoocha commented on #254
Wow, thanks for the thorough explainer!

I think I share this concern. I'm not sure that all contributors to this package (including myself) have the required discipline (yet) to work with semantic commit messages. Maybe (but please correct me if I'm wrong) ad-hoc / tag based releases allow a bit more flexibility?

[2022-11-15 20:00] jsamoocha commented on #250
#256 takes care of /uploads, /activities{id}, and /athlete.

[2022-11-15 22:50] lwasser commented on #251
hey @yihong0618 @jsamoocha @hozn can you please try installing stravalib locally from pypi test?

`pip install -i https://test.pypi.org/simple/ stravalib`

and see if you run into any issues?

Its weird, it seems to be ok when i use it in a pip envt but i ran into an issues installing from pip into a conda environment. it used to install just fine in a conda envt so i am wondering if i broke somet

[2022-11-16 06:55] jsamoocha commented on #251
I used pipenv for a change, and the installation had no (visible) issues.

[2022-11-16 18:28] #231 closed

[2022-11-16 18:58] lwasser commented on #251
THANK YOU!  @jsamoocha

[2022-11-18 18:46] lwasser opened #260 "How should we manage the changelog? What do we want our release workflow to look like?"
Hi everyone - this relates to a[ comment here](https://github.com/stravalib/stravalib/pull/259/files#r1026112641) in the open pr that adds a CI build for releasing to PyPI. Essentially we need to decide how we want to manage releases and changelog.

Previously the changelog was in the docs folder but i think it's better to have it in the main repository root dir. I also turned it into a .md file a

[2022-11-18 19:11] lwasser commented on #254
Ok great. SO i will close this. I"ve moved away from poetry and semantic release for the time being. We might reconsider something like poetry or flit in the future... but for now i think we are ok with just using vanilla `build`. thank you for the input @jsamoocha !! closing!!

[2022-11-18 19:11] #254 closed

[2022-11-18 22:40] lwasser opened #261 "Update build steps to use a better cleaned up Makefile(s)"
Hi everyone.
Right now I created a really ugly makefile to build the docs that needs to be cleaned up.

Recently i've been using Nox a good bit and enjoying it as it's python based. But also it has some functionality including virtual environments built in.

Is anyone against my setting up nox to do things like

make tests
make docs
make clean
?

instead it would be

nox -s docs
nox -s docs-live (

[2022-11-19 01:56] lwasser opened #262 "Add code cov to test suite run"
When we run tests it would be good to see coverage. This won't be full coverage given some of our tests are still only run locally BUT we could get local coverage numbers and then Ci generated numbers too.

[2022-11-19 02:36] hozn commented on #260
No preference from me.  At past couple jobs we've (often) adopted the basic ideas in https://keepachangelog.com/en/1.0.0/ -- but that doesn't really address many of your questions, just more of a structure.  I agree with the Changelog being top-level; that's where folks look for it.  (And markdown is great!)

[2022-11-19 14:22] jsamoocha commented on #260
Let's make it a habit to always update the changelog upon creating/merging a PR (or ask the PR author to do so). I also think the subheadings @hozn referred to above (Added, Changed, Deprecated, Removed, Fixed, Security) would be good to add to every release.

The format you chose for the latest additions to the existing changelog are fine for me.

About release workflow: let's try to not overcomp

[2022-11-19 17:43] lwasser commented on #260
Ok i'm all for updating the changelog on every pr. in fact i'll just create a defactor pr template that asks you if you've done that as a reminder.

So looking at that [keepachangelog](https://keepachangelog.com/en/1.0.0/) link above.

## Guiding Principles
Changelogs are for humans, not machines.
There should be an entry for every single version.
The same types of changes should be grouped.
Versi

[2022-11-21 01:37] lwasser commented on #261
PR #263 cleans up the make builds for docs, tests and building the package.
I think we should do another pr to add black and flake8 because that is going to be a bigger PR with lots of files edited when we run black. i'm happy to do that one too but want to wait until #256 is merged as it will likely impact the files in that pr too.

[2022-11-21 16:01] jsamoocha commented on #260
1.0 for the next release seems justified because of dropping python 2.

[2022-11-21 16:45] lwasser commented on #260
ok great. And then I think this is our workflow for merging pr's.

* if the PR is a change or addition let's make sure we have (2) maintainer approvals?
* If the PR is a small fix that the maintainer is confident in and all tests run with the fix then they can merge without a review? this makes me a bit nervous BUT let's try it !!

## release workflow

For a release we probably want a process that

[2022-11-21 16:46] #251 closed

[2022-11-21 17:14] lwasser opened #264 "Fix deployment to PyPI"
There is a build issue here

https://github.com/stravalib/stravalib/actions/runs/3516366350/jobs/5892844689

that i need to troubleshoot. I will do this tonight! just wanted to point it out here as it will require a new PR

[2022-11-21 17:17] lwasser commented on #264
i think i need to make sure the previous files from the build step migrates to publish. i may need to add: `needs:`

[2022-11-21 19:00] jsamoocha commented on #260
If you mean #227 and #240, yes, let's merge these as well.

[2022-11-21 23:13] lwasser commented on #260
have you tested #227 or #240 @jsamoocha ?? i'll try to get pypi working here in the next few hours!! hoping it's small as it was working on my branch

[2022-11-22 00:20] lwasser commented on #239
closing vis pr #240. thank you again!

[2022-11-22 00:20] #239 closed

[2022-11-22 00:46] lwasser commented on #247
Everything has been complete in this issue except for the documentation. Documentation updates however won't impact release as we can always update documentation.

[2022-11-22 00:48] lwasser commented on #264
#265 fixed this closing

[2022-11-22 00:48] #264 closed

[2022-11-22 01:24] #261 closed

[2022-11-22 01:26] lwasser commented on #244
closing this as We have this working now in CI and I have authentication for both pypi and test pypi. thank you @hozn for trusting  us all to work on this

[2022-11-22 01:26] #244 closed

[2022-11-22 01:27] lwasser commented on #242
this can be closed via #241 @jsamoocha if you disagree please reopen but i'm fairly certain that this was fixed. !

[2022-11-22 01:27] #242 closed

[2022-11-22 01:29] lwasser commented on #243
hi colleagues! i believe that we have sorted out the maintainer issue at this point . i'm just going through and cleaning up old issues to get a sense of how many unaddressed issue we have here. closing this but please do reopen if you feel like there is more discussion required!

[2022-11-22 01:29] #243 closed

[2022-11-22 01:35] lwasser commented on #260
ok i've tested merged and cleaned up those two pr's. I am going to close this and open a new issue for our first RELEASE 1.0 in a really long time!!

[2022-11-22 01:35] #260 closed

[2022-11-22 01:41] lwasser opened #267 "Stravalib RELEASE 1.0 --> PyPI"
Hi everyone.
This will be our first release in a really long time.
And we have grown our maintainer team which is allowing us to chip away at more issues! 🎆

[Click here to see  what stravalib will look like on PyPI](https://test.pypi.org/project/stravalib/). You can also install it to test version using:

`pip install -i https://test.pypi.org/simple/ stravalib`

I think the following TODO's are l

[2022-11-22 01:46] yihong0618 commented on #267
looks great

[2022-11-22 09:40] jsamoocha commented on #250
Oops, I forgot to take into account multiple HTTP methods per endpoint, so added these to the checklist.

[2022-11-22 16:34] lwasser commented on #267
thanks @yihong0618 !!!

[2022-11-22 16:57] lwasser opened #269 "Add badges to top of readme & update development workflow documentation"
We should add some badges

- [x] Current PyPI version
- [x] Zenodo (citation) [![DOI](https://zenodo.org/badge/8828908.svg)](https://zenodo.org/badge/latestdoi/8828908)
- [x] Build tests running / passing
- [x] Doc build on ReadTheDocs running
- [x] Downloads on PyPI

Some of this was implemented with #271

[2022-11-22 19:07] jsamoocha commented on #267
Can it be that the [documentation](https://stravalib.readthedocs.io/en/latest/) is not updated? It still shows the old (0.6.0) docs. I have no idea where to look for a potential cause.

[2022-11-22 19:26] lwasser commented on #267
oh it totally can. i need to redirect the build to the new location /stravalib/stravalib @jsamoocha would you like to have access to the doc build too? you'd just need an account on readthedocs.org and i can add you. i'll fix this now.

[2022-11-22 19:28] jsamoocha commented on #267
I see this in the output of the action:

[code]

Shouldn't the command be `make -C docs -B`?

[2022-11-22 19:31] jsamoocha commented on #267
When running the latter command locally (from project root), I see:

[code]

Am I missing something that's not in version control?

[2022-11-22 19:34] lwasser commented on #267
there are two issues here. The docs build doesn't actually push the docs to readthedocs, read the docs builds on it's own. The actions build is failing for the same reason that readthedocs is failing.

We have to `build` that package and allow setuptools_Scm to create that _version_generated.py file that contains the single source truth for package version based upon the latest tag. Right now the

[2022-11-22 19:39] lwasser opened #270 "FIX documentation build in both actions and RTD"
[See this thread here. ](https://github.com/stravalib/stravalib/issues/267#issuecomment-1324147035)

Right now we are using setuptools_scm to keep track of versions. Our docs are being built automatically using readthedocs build engine. we are testing the docs build here. because

1. we watn to test for broken links (to be added)
2. the API is documneted with sphinx so if a doc string is updated i

[2022-11-22 19:45] lwasser commented on #270
ok this thread is what i need - https://github.com/readthedocs/readthedocs.org/issues/7030 so i think we will need to add a rtd config file and install the package via pip. should work i think but will test in my branch first.

[2022-11-23 00:43] lwasser commented on #270
hey @jsamoocha let me know what you think about the explanation with docs below

## READ THE DOCS build update
So the build on readthedocs is up to date - [see here](https://stravalib.readthedocs.io/en/latest/index.html) i built on my repo just to test it.

The issue remaining that i am looking into is whether RTD actually can see the version in it's build because i think we need the repo tags to

[2022-11-24 16:04] #270 closed

[2022-11-24 16:19] lwasser commented on #228
@yihong0618 i think we can close this now that i've overhauled the build and removed setup.py  I am going to close it but if you disagree / think there are still things to fix please do reopen!! thank you!

[2022-11-24 16:19] #228 closed

[2022-11-24 21:49] lwasser opened #273 "Add stravalib to conda-forge to support conda install"
Hi Everyone,
A lot of scientists may have fun using strava and may use conda to manage their environments. [see this tutorial here](https://medium.com/analytics-vidhya/accessing-user-data-via-the-strava-api-using-stravalib-d5bee7fdde17) where they use stravalib but have to pip install into a conda environment.

It would be nice if you also cross listed the package on conda-forge. The process is re

[2022-11-25 19:33] lwasser opened #274 "Add code of conduct and contributing guide to stavalib"
Github and other package health metrics always suggest having a clear

contributing guide and
code of conduct

to ensure that community development around a package is and remains healthy.

[See SKYK package health community metrics at the bottom:](https://snyk.io/advisor/python/stravalib)

and [Github community standards](https://github.com/stravalib/stravalib/community)

We should add a code of

[2022-11-26 18:30] #274 closed

[2022-11-26 18:39] lwasser commented on #269
closing via #275

[2022-11-26 18:39] #269 closed

[2022-11-26 18:40] lwasser opened #276 "Add myst support to documentation to allow for markdown"
If we add myst parser to documentation we can then use markdown with all of the features of rst. we should update it as it still also allows us to use rst if we wish.

Also embed CONTRIBUTING file into the documentation so people can find it in both places. And make a more welcoming landing page for documentation.

[2022-11-30 07:33] jsamoocha opened #279 "Add support for sport_type activity attribute and deprecate type activity attribute"
From the Strava API changelog:

[2022-11-30 09:19] jsamoocha opened #280 "Ensure properly typed json payloads"
Some endpoints (e.g., /activities/{id} with PUT method) expect a JSON payload with boolean parameters. These are now "serialized" in the client by converting them to 1/0 integer values. While these are accepted for now by Strava, "1" or "true" are not valid boolean literals in JSON.

The `requests` library now has a `json` kwarg that correctly serializes a python dict into JSON. As an alternative,

[2022-11-30 11:09] jsamoocha opened #281 "Units dependency seems to be abandoned"
The `units` package seems not to be maintained any longer (the latest release on PyPi is from 2017, and its source repo has vanished).

In line with #248, we need to start thinking about an alternative, possibly from [this list](https://socialcompare.com/en/comparison/python-units-quantities-packages).

[2022-11-30 14:05] jsamoocha opened #282 "Missing implementation for /segments/{id}/starred (PUT) endpoint"
There's no implementation for this endpoint in `client`.

[2022-11-30 14:32] lwasser commented on #230
@jsamoocha i would like to  to close this issue as I think you've been deprecating end points and calling warnings when need be for unsupported but existing endpoints. Did you see #232 ? i haven't tested any of this because i've been focused on updating docs but can once i'm done with the big docs revamp that i'm working on. that likely won't be until next week.

i could close this issue and we co

[2022-11-30 14:58] jsamoocha commented on #230
About endpoint/parameter deprecations: whenever I'm writing tests I try to manually call the API with a test account to check what is supported.

For endpoints that Strava has already removed, I'm in favor of removing them as well from stravalib. For users, it doesn't seem to matter if they're faced with a breaking `NotImplementedError` or a breaking `AttributeError` (because we removed the method

[2022-11-30 14:58] #230 closed